<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Quản lí sản phẩm</title>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <form method="post" th:object="${pd}">
        <p>ID Sản phẩm :
            <input class="form-control" type="text" th:field="${pd.product.id}" disabled>
        </p>
        <p>Màu sắc :
            <select class="form-select" th:field="${pd.color}">
                <option value="" selected>Chọn màu sắc</option>
                <option th:each="color : ${listColor}" th:value="${color.id}">[[${color.name}]]</option>
            </select>
        </p>
        <p>Kích cỡ :
            <select class="form-select" th:field="${pd.size}">
                <option value="" selected>Chọn kích cỡ</option>
                <option th:each="size : ${listSize}" th:value="${size.id}">[[${size.name}]]</option>
            </select>
        </p>
        <p>Giá :
            <input class="form-control" type="number" th:field="${pd.price}">
        </p>
        <p>Số lượng :
            <input class="form-control" type="number" th:field="${pd.stock}">
        </p>
        <p>Trạng thái :
            <input type="radio" class="form-radio" th:field="${pd.status}" value="1">Hoạt động
            <input type="radio" class="form-radio" th:field="${pd.status}" value="0">Không hoạt động
        </p>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Màu sắc</th>
            <th>Kích cỡ</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Trạng thái</th>
        </tr>
        <tr th:each="pd,stt : ${prd}">
            <td th:text="${stt.index + 1}"></td>
            <td th:text="${pd.product.name}"></td>
            <td th:text="${pd.color.name}"></td>
            <td th:text="${pd.size.name}"></td>
            <td th:text="${pd.price}"></td>
            <td th:text="${pd.stock}"></td>
            <td th:text="${pd.status} == 1 ? 'Hoạt động':'Không hoạt động'"></td>
        </tr>
    </table>
</main>
</body>
</html>