<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}" >
<head>
    <meta charset="UTF-8">
    <title>Quản lí chương trình khuyến mãi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script>

        function toggleDiscountInput() {
            const discountPercentageInput = document.getElementById("discountPercentageInput");
            const discountValueInput = document.getElementById("discountValueInput");

            if (document.getElementById("discountPercentage").checked) {
                discountPercentageInput.style.display = "block";
                discountValueInput.style.display = "none";
            } else if (document.getElementById("discountValue").checked) {
                discountPercentageInput.style.display = "none";
                discountValueInput.style.display = "block";
            }
        }

        // Gọi hàm khi trang load để hiển thị đúng input
        document.addEventListener("DOMContentLoaded", toggleDiscountInput);
    </script>

</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/index">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/admin/promotion">Promotion</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail</li>
        </ol>
    </nav>
    <div class="card mt-5">
        <div class="card-header">
            <h5 class="card-title">Chi tiết promotion</h5>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="align-items-center">
                    <div class="form-group">
                        <label for="name">Tên chương trình khuyến mãi:</label>
                        <input type="text" id="name" name="name" th:value="${promotion.name}" class="form-control" readonly>
                    </div>

                    <!-- Loại giảm giá -->
                    <div class="form-group">
                        <label>Loại giảm giá:</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="discountPercentage" name="discountType" value="percentage" th:checked="${promotion.discountPercentage > 0}" onclick="toggleDiscountInput()" disabled>
                            <label class="form-check-label" for="discountPercentage">Phần trăm (%)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="discountValue" name="discountType" value="value" th:checked="${promotion.discountAmount > 0}" onclick="toggleDiscountInput()" disabled>
                            <label class="form-check-label" for="discountValue">Giá trị</label>
                        </div>
                    </div>

                    <!-- Ô nhập % -->
                    <div class="form-group" style="display: none;" id="discountPercentageInput" >
                        <label for="percentage">Nhập phần trăm giảm:</label>
                        <input type="number" id="percentage" name="percentage" th:value="${promotion.discountPercentage}"  class="form-control" placeholder="% giảm" min="1" max="100" readonly>
                    </div>

                    <!-- Ô nhập giá trị -->
                    <div class="form-group" style="display: none;" id="discountValueInput" >
                        <label for="value">Nhập giá trị giảm:</label>
                        <input type="number" id="value" name="value" th:value="${promotion.discountAmount}" class="form-control" placeholder="Giá trị giảm" min="1" readonly>
                    </div>

                    <!-- Ngày bắt đầu -->
                    <div class="form-group">
                        <label for="startDate">Ngày bắt đầu:</label>
                        <input type="datetime-local" id="startDate" th:value="${promotion.startDate}" name="startDate" class="form-control"  readonly>
                    </div>

                    <!-- Ngày kết thúc -->
                    <div class="form-group mt-3">
                        <label for="endDate">Ngày kết thúc:</label>
                        <input type="datetime-local" id="endDate" th:value="${promotion.endDate}" name="endDate" class="form-control" readonly>
                    </div>
                    <!-- Nút Thêm và Quay lại -->
                    <div class="form-group mt-3 text-center">
                        <a class="btn btn-secondary" th:href="@{/admin/promotion}">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-header">
            <h5 class="card-title">Danh sách sản phẩm chi tiết</h5>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Product</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Giá gốc</th>
                    <th scope="col">Giá giảm</th>
                    <th scope="col">Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productDetail, iterStat : ${listProductDetail}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${productDetail.getProduct().getName()}"></td>
                    <td th:text="${productDetail.getColor().getName()}" ></td>
                    <td th:text="${productDetail.getSize().getName()}"></td>
                    <td th:text="${productDetail.getPrice()}"></td>
                    <td th:text="${productDetail.getPrice()-(productDetail.getPrice()*promotion.getDiscountPercentage()/100+promotion.discountAmount)}"></td>
                    <td class="badge rounded-pill"
                        th:text="${promotion.getStatus() == 1 ? 'Đang diễn ra' : (promotion.getStatus() == 0 ? 'Sắp băt đầu' : 'Đã kết thúc')}"
                        th:classappend="${promotion.getStatus() == 1 ? 'bg-success' : (promotion.getStatus() == 0 ? 'bg-warning' : 'bg-danger')}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>