<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}" >
<head>
    <meta charset="UTF-8">
    <title>Quản lí màu sắc</title>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <h1>Quản lí màu sắc</h1>
    <form th:object="${color}" method="post">
        <p>Id :
            <input type="text" class="form-control"th:field="${color.id}" disabled>
        </p>
        <p>Tên đai nón :
            <input type="text" class="form-control" th:field="${color.name}">
        </p>
        <p>Trạng thái :
            <input class="form-radio" type="radio" value="1" th:field="${color.status}" >Hoạt động
            <input class="form-radio" type="radio" value="0" th:field="${color.status}">Không hoạt động
        </p>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</main>
</body>
</html>