<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}" >
<head>
    <meta charset="UTF-8">
    <title>Quản lí hoá đơn</title>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <h1>Quản lí hoá đơn</h1>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Hoá đơn</th>
            <th>Khách hàng</th>
            <th>Mã theo dõi đơn hàng</th>
            <th>Hình thức thanh toán</th>
            <th>Tổng tiền</th>
            <th>Người tạo</th>
            <th>Thời gian</th>
            <th>Hành động</th>
        </tr>
        <tr th:each="hd, stt : ${listInvoice}">
            <td th:text="${stt.index + 1}"></td>
            <td th:text="${hd.id}"></td>
            <td th:text="${hd.customer != null ? hd.customer.fullname : 'N/A'}"></td>
            <td th:text="${hd.invoiceTrackingNumber != null ? hd.invoiceTrackingNumber : 'N/A'}"></td>
            <td th:text="${hd.paymentMethod != null ? hd.paymentMethod.name : 'N/A'}"></td>
            <td th:text="${hd.finalPrice != null ? hd.finalPrice : 0}"></td>
            <td th:text="${hd.employee != null ? hd.employee.fullname : 'N/A'}"></td>
            <td th:text="${hd.createdDate != null ? hd.createdDate : 'N/A'} + ' - ' + ${hd.updatedDate != null ? hd.updatedDate : 'N/A'}"></td>
            <td>?</td>
        </tr>
    </table>
</main>
</body>
</html>