<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}" >
<head>
    <meta charset="UTF-8">
    <title>Quản lí nhân viên</title>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const fileInput = document.getElementById('fileInput');
            if (fileInput) {
                fileInput.addEventListener('change', function() {
                    if (this.files.length > 0) {
                        document.getElementById('importForm').submit();
                    }
                });
            }
        });

    </script>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/index">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nhân viên</li>
        </ol>
    </nav>

    <div class="card mt-3">
        <div class="card-header">
            Tìm kiếm nhân viên
        </div>
        <div class="card-body">
            <div class="row d-flex justify-content-center align-items-center">
                <form th:action="@{/admin/employee}" method="get">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="search">Tên:</label>
                            <input placeholder="Nhập tên, username hoặc SĐT" type="text" class="form-control" id="search" name="searchValue">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="status">Trạng thái:</label>
                            <select class="form-control" id="status" name="status">
                                <option value="">Tất cả</option>
                                <option value="1">Hoạt động</option>
                                <option value="0">Không hoạt động</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="role">Vai trò:</label>
                            <select class="form-control" id="role" name="role">
                                <option value="">Tất cả</option>
                                <option value="admin">Admin</option>
                                <option value="employee">Employee</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-auto d-flex align-items-center">
                            <button class="btn btn-primary" type="submit">
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"></div>
    </div>

    <div th:if="${success}">
        <div class="alert alert-success" th:text="${success}"></div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0"><strong>Danh sách nhân viên</strong></h5>
                <div class="ms-auto d-flex align-items-center gap-2">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
                        Thêm mới
                    </button>
                    <button class="btn btn-outline-success" type="button" onclick="window.location.href='/admin/employee/export'">
                        Xuất file
                    </button>
                    <form id="importForm" th:action="@{/admin/employee/import}" method="POST" enctype="multipart/form-data" class="m-0">
                        <input type="file" name="file" id="fileInput" required style="display: none;">
                        <button class="btn btn-outline-success" type="button" onclick="document.getElementById('fileInput').click();">Nhập file</button>
                    </form>
                </div>
            </div>
            <!-- Bảng Danh sách Nhân viên -->
            <table class="table table-bordered table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee, stat : ${employees}">
                    <td th:text="${stat.index + 1}"></td>
                    <td th:text="${employee.username}"></td>
                    <td th:text="${employee.fullname}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${#temporals.format(employee.createdDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${employee.role == 1 ? 'ADMIN' : 'EMPLOYEE'}"></td>
                    <td>
                        <span th:class="${employee.status == 1 ? 'badge bg-success' : 'badge bg-danger'}"
                              th:text="${employee.status == 1 ? 'Hoạt động' : 'Không hoạt động'}"></span>
                    </td>
                    <td>
                        <a th:href="@{/admin/employee/detail/{id}(id=${employee.id})}" class="btn btn-primary">
                            <i class="ph ph-info" ></i>
                        </a>
                        <a th:href="@{/admin/employee/delete/{id}(id=${employee.id})}" class="btn btn-danger"
                           onclick="return confirm('Bạn có chắc muốn xóa')">
                            <i class="ph ph-trash" ></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example" th:if="${totalPages > 0}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/employee(page=${currentPage - 1}, size=${size},searchValue=${searchValue},role=${role},status=${status})}">Previous</a>
                    </li>
                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/admin/employee(page=${i}, size=${size},searchValue=${searchValue},role=${role},status=${status})}">
                            [[${i + 1}]]
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/employee(page=${currentPage + 1}, size=${size},searchValue=${searchValue},role=${role},status=${status})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

<!--     Modal Thêm Nhân Viên -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Thêm Nhân Viên</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/employee/add}" th:object="${employee}" method="post" >
                        <input type="text" th:value="${showModal}" hidden id="showModal">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" maxlength="100" name="username" class="form-control" required/>
                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" maxlength="100" name="password" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label>Fullname</label>
                            <input type="text" maxlength="100" name="fullname" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" maxlength="100" name="email" class="form-control" required/>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="phone" class="form-control" maxlength="10" pattern="0\d{9}" title="Số điện thoại phải gồm 10 số và bắt đầu bằng 0" required/>
                            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select name="role" class="form-control" >
                                <option value="1">Admin</option>
                                <option value="0">Employee</option>
                            </select>
                            <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Status</label><br>
                            <input type="radio"  name="status" value="1"required>
                            <label>Active</label>
                            <input class="ml-5" type="radio"  name="status" value="0" >
                            <label>Inactive</label>
                        </div>
                        <div class="form-group">
                            <label for="photo">Photo</label>
                            <input type="file" maxlength="500" name="photo" id="photo" class="form-control" accept="image/*">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary me-2">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Xử lý submit form
            $('#addEmployeeForm').submit(function (event) {
                event.preventDefault(); // Ngăn chặn form submit truyền thống

                // Xóa các thông báo lỗi cũ trước khi hiển thị cái mới
                $('#usernameError').text('');
                $('#emailError').text('');
                $('#phoneError').text('');

                $.ajax({
                    url: '/admin/employee/add',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function () {
                        // Nếu thành công, đóng modal và tải lại danh sách nhân viên
                        $('#addEmployeeModal').modal('hide');
                        location.reload(); // Tải lại trang để cập nhật danh sách
                    },
                    error: function (xhr) {
                        // Khi có lỗi, hiển thị thông báo lỗi ngay trên modal
                        var errors = xhr.responseJSON;
                        if (errors.username) {
                            $('#usernameError').text(errors.username);
                        }
                        if (errors.email) {
                            $('#emailError').text(errors.email);
                        }
                        if (errors.phone) {
                            $('#phoneError').text(errors.phone);
                        }
                        // Mở lại modal khi có lỗi từ server
                        $('#addEmployeeModal').modal('show');
                    }
                });
            });

            // Mở modal khi cần hiển thị lỗi sau khi tải lại trang
            const showModal = document.getElementById('showModal').value;
            if (showModal) {
                $('#addEmployeeModal').modal('show');
            }
        });
    </script>

</main>

</body>
</html>