<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/test-theme/template}">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<main layout:fragment="main">

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                        here to enter your code.</h6>
                </div>
            </div>
            <form th:action="@{/check-out}" class="checkout__form" method="post">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Chi tiết thanh toán</h5>
                        <div class="row" th:if="${invoice != null}">
                            <input type="hidden" name="invId" th:value="${invoice.id}">
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Họ và tên <span>*</span></p>
                                    <input type="text" th:value="${invoice.customer != null ? invoice.customer.fullname : ''}" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Quốc gia <span>*</span></p>
                                    <input type="text" name="countryInv" th:value="${invoice.customer != null ? invoice.customer.country : ''}" required>
                                </div>
                                <div class="checkout__form__input">
                                    <p>Địa chỉ <span>*</span></p>
                                    <input type="text" name="addressInv" placeholder="Street Address" th:value="${invoice.customer != null ? invoice.customer.address : ''}" required>
                                </div>
                                <div class="checkout__form__input">
                                    <p>Tỉnh/Thành phố <span>*</span></p>
                                    <select id="province" name="cityInv" required>
                                        <option value="" readonly="">Chọn Tỉnh/Thành phố</option>
                                        <option th:each="province : ${provinces}"
                                                th:selected="${invoice.customer != null && invoice.customer.city == province['code']}"
                                                th:value="${province['code']}"
                                                th:text="${province['name']}">
                                        </option>
                                    </select>
                                </div>
                                <div class="checkout__form__input">
                                    <p>Quận/Huyện <span>*</span></p>
                                    <select id="district" name="districtInv" required>
                                        <option value="" readonly="">Chọn Quận/Huyện</option>
                                    </select>
                                </div>
                                <div class="checkout__form__input">
                                    <p>Xã/Phường <span>*</span></p>
                                    <select id="ward" name="wardInv" required>
                                        <option value="" readonly="">Chọn Xã/Phường</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Phone <span>*</span></p>
                                    <input type="text" name="phoneInv" th:value="${invoice.customer != null ? invoice.customer.phone : ''}" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Email <span>*</span></p>
                                    <input type="text" name="emailInv" th:value="${invoice.customer != null ? invoice.customer.email : ''}" required>
                                </div>
                            </div>
<!--                            <div class="col-lg-12">-->
<!--                                <div class="checkout__form__checkbox">-->
<!--                                    <label for="acc">-->
<!--                                        Create an acount?-->
<!--                                        <input type="checkbox" id="acc">-->
<!--                                        <span class="checkmark"></span>-->
<!--                                    </label>-->
<!--                                    <p>Create am acount by entering the information below. If you are a returing-->
<!--                                        customer login at the <br/>top of the page</p>-->
<!--                                </div>-->
<!--                                <div class="checkout__form__input">-->
<!--                                    <p>Account Password <span>*</span></p>-->
<!--                                    <input type="text">-->
<!--                                </div>-->
<!--                                <div class="checkout__form__checkbox">-->
<!--                                    <label for="note">-->
<!--                                        Note about your order, e.g, special noe for delivery-->
<!--                                        <input type="checkbox" id="note">-->
<!--                                        <span class="checkmark"></span>-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                                <div class="checkout__form__input">-->
<!--                                    <p>Oder notes <span>*</span></p>-->
<!--                                    <input type="text"-->
<!--                                           placeholder="Note about your order, e.g, special noe for delivery">-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__order">
                            <h5>Đơn hàng của bạn</h5>
                            <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Sản phẩm</span>
                                        <span class="top__text__right">Thành tiền</span>
                                    </li>
                                    <li th:each="c,stt : ${cartDetails}">
                                        [[${stt.index+1}]]. [[${c.productDetail.product.name}]] x [[${c.quantity}]]
                                        <br>
                                        [[${c.productDetail.color.name}]] / [[${c.productDetail.size.name}]]
                                        <span>[[${T(com.beehat.service.CurrencyUtil).formatCurrency(c.productDetail.price * c.quantity)}]]</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="checkout__order__total" style="padding-bottom: 25px;margin-bottom: 5px">
                                <ul>
                                    <li>
                                        Voucher giảm giá
                                        <form >
                                            <div class="d-flex">
                                                <select class="form-control" style="margin-right: 5px" placeholder="Nhập mã giảm giá" name="code" onchange="updatePriceBasedOnVoucher(this)">
                                                    <option value="">Chọn voucher</option>
                                                    <option th:each="v : ${voucherList}" th:value="${v.code}" th:data-discount="${v.discountPercentage}" th:text="${v.code}"></option>
                                                </select>
                                                <button th:formaction="@{/add-voucher}" class="btn btn-danger" type="submit" style="background-color: #ca1515;font-weight: 600">Apply</button>
                                            </div>
                                        </form>
                                    </li>

                                </ul>
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li>Tổng tiền  <span id="totalPrice" th:data-total-price="${invoice.totalPrice}">[[${T(com.beehat.service.CurrencyUtil).formatCurrency(invoice.totalPrice)}]]</span></li>
                                    <li>Phí vận chuyển <span>30.000đ</span></li>
                                    <li>Giảm giá <span id="discountedPrice">0đ</span></li>
                                    <li>Thực thu <span id="finalPrice">[[${T(com.beehat.service.CurrencyUtil).formatCurrency(invoice.totalPrice+30000)}]]</span></li>
                                </ul>
                            </div>
                            <div class="checkout__order__widget">
<!--                                <label for="o-acc">-->
<!--                                    Create an acount?-->
<!--                                    <input type="checkbox" id="o-acc">-->
<!--                                    <span class="checkmark"></span>-->
<!--                                </label>-->
<!--                                <p>Create am acount by entering the information below. If you are a returing customer-->
<!--                                    login at the top of the page.</p>-->
                                <label for="check-payment">
                                    Thanh toán khi nhận hàng
                                    <input type="radio" id="check-payment" name="paymentInv" value="1" required>
                                    <span class="checkmark"></span>
                                </label>
                                <label for="paypal">
                                    VNPay
                                    <input type="radio" id="paypal" name="paymentInv" value="2" required>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn">Hoàn tất đơn hàng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Checkout Section End -->
<script>
    $(document).ready(function () {
        // Khi thay đổi tỉnh/thành phố
        $('#province').change(function () {
            const provinceId = $(this).val();
            if (provinceId) {
                $.ajax({
                    url: `/districts?provinceId=${provinceId}`,
                    method: 'GET',
                    success: function (data) {
                        let districtOptions = '<option value="">Chọn Quận/Huyện</option>';
                        data.forEach(district => {
                            districtOptions += `<option value="${district.code}">${district.name}</option>`;
                        });
                        $('#district').html(districtOptions);
                        $('#ward').html('<option value="">Chọn Xã/Phường</option>'); // Reset ward
                    }
                });
            }
        });

        // Khi thay đổi quận/huyện
        $('#district').change(function () {
            const districtId = $(this).val();
            if (districtId) {
                $.ajax({
                    url: `/wards?districtId=${districtId}`,
                    method: 'GET',
                    success: function (data) {
                        let wardOptions = '<option value="">Chọn Xã/Phường</option>';
                        data.forEach(ward => {
                            wardOptions += `<option value="${ward.code}">${ward.name}</option>`;
                        });
                        $('#ward').html(wardOptions);
                    }
                });
            }
        });
    });
    function updatePriceBasedOnVoucher(selectElement) {
        // Lấy phần tử chứa tổng giá và giá sau giảm
        const totalPriceElement = document.getElementById("totalPrice");
        const finalPriceElement = document.getElementById("finalPrice");
        const discountedPriceElement = document.getElementById("discountedPrice");

        // Lấy giá trị tổng giá từ giao diện (giả định đã được cập nhật trước đó)
        const totalPrice = parseInt(totalPriceElement.getAttribute('data-total-price')) || 0;
        // Lấy phần trăm giảm giá từ thuộc tính data-discount của option được chọn
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const discountPercent = parseInt(selectedOption.getAttribute("data-discount")) || 0;

        // Tính toán giá sau khi giảm
        const discountAmount = (totalPrice * discountPercent) / 100;
        discountedPriceElement.textContent = discountAmount.toLocaleString() +"đ";
        const discountedPrice = totalPrice - discountAmount;

        // Cập nhật giá trị trên giao diện
        finalPriceElement.textContent = discountedPrice.toLocaleString()+"đ";
    }
</script>
</main>
</body>

</html>