<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/test-theme/template}">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<main layout:fragment="main">
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                         data-setbg="img/categories/category-1.jpg">
                        <div class="categories__text">
                            <h1>BeeHat</h1>
                            <p>Khẳng định phong cách, đội chất riêng – cùng bạn vươn tới sự tự tin!</p>
                            <a href="/shop">Mua hàng ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../img/categories/category-2.png">
                                <div class="categories__text">
                                    <h4 class="text-white">Mũ vành</h4>
                                    <p style="color: #ffb59f">[[${slmuvanh}]] sản phẩm</p>
                                    <a href="/shop?categoryId=1" class="text-white">Mua hàng ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../img/categories/category-3.png">
                                <div class="categories__text">
                                    <h4 class="text-white">Mũ kết</h4>
                                    <p style="color: #ffb59f">[[${slmuket}]] sản phẩm</p>
                                    <a href="/shop?categoryId=4" class="text-white">Mua hàng ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../img/categories/category-4.png">
                                <div class="categories__text">
                                    <h4 class="text-white">Mũ jacket</h4>
                                    <p style="color: #ffb59f">[[${slmujacket}]] sản phẩm</p>
                                    <a href="/shop?categoryId=6" class="text-white">Mua hàng ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../img/categories/categgory-5.png">
                                <div class="categories__text">
                                    <h4 class="text-white">Mũ snapback</h4>
                                    <p style="color: #ffb59f">[[${slmusnapback}]] sản phẩm</p>
                                    <a href="/shop?categoryId=7" class="text-white">Mua hàng ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Sản phẩm mới</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".promotion">Giảm giá</li>
                    </ul>
                </div>
            </div>
            <div class="row property__gallery">
                <!-- Lặp qua danh sách sản phẩm -->
                <div th:each="product : ${productList}" th:if="${product.status == 1}" class="col-lg-3 col-md-4 col-sm-6 mix"
                     th:classappend="${product.promotion != null ? ' promotion' : ''}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="${product.images[0].imageUrl}">
                            <div th:if="${product.promotion!= null}" class="label sale">Sale</div>
                            <ul class="product__hover">
                                <li><a th:href="${product.images[0].imageUrl}" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                                <li><a th:href="@{/detail/{sku}(sku=${product.sku})}"><span class="icon_info_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6 th:text="${product.name}"></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- Trường hợp: Không có thông tin chi tiết sản phẩm -->
                            <div class="product__price"
                                 th:if="${product.productDetail == null or product.productDetail.isEmpty()}">
                                Coming soon
                            </div>
                            <!-- Trường hợp: Có thông tin sản phẩm nhưng không có khuyến mãi -->
                            <div class="product__price"
                                 th:if="${product.productDetail != null and !product.productDetail.isEmpty() and product.promotion == null}">
                                <!-- Hiển thị giá thấp nhất và cao nhất nếu có nhiều giá -->
                                <span th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice < product.highestPrice}">
                                    [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]] -
                                    [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice)}]]
                                </span>
                                <!-- Hiển thị một giá nếu thấp nhất bằng cao nhất -->
                                <span th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice == product.highestPrice}">
                                    [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]]
                                </span>
                            </div>

                            <!-- Trường hợp: Có thông tin sản phẩm và có khuyến mãi -->
                            <div class="product__price"
                                 th:if="${product.productDetail != null and !product.productDetail.isEmpty() and product.promotion != null}">
                                <!-- Hiển thị giá gốc thấp nhất và cao nhất -->
                                <div th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice < product.highestPrice}">
                                    <!-- Giá gốc -->
                                    <span class="original-price" style="text-decoration: line-through; color: #b1b0b0;">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]] - [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice)}]]
                                    </span><br>
                                    <!-- Giá giảm -->
                                    <span class="discounted-price">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice - (product.lowestPrice * product.promotion.discountPercentage / 100) - product.promotion.discountAmount)}]]
                                        -
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice - (product.highestPrice * product.promotion.discountPercentage / 100) - product.promotion.discountAmount)}]]
                                    </span>
                                </div>
                                <!-- Hiển thị một giá nếu thấp nhất bằng cao nhất -->
                                <div th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice == product.highestPrice}">
                                    <!-- Giá gốc -->
                                    <span class="original-price" style="text-decoration: line-through; color: #b1b0b0;">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]]
                                    </span>
                                    <!-- Giá giảm -->
                                    <span class="discounted-price">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(
                                            T(java.lang.Math).max(product.lowestPrice -(product.lowestPrice * product.promotion.discountPercentage / 100) - product.promotion.discountAmount,0)
                                        )}]]
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Section End -->

    <!-- Banner Section Begin -->
    <section class="banner set-bg" data-setbg="img/banner/banner-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>Bộ sưu tập mũ thời trang mới</span>
                                <h1>Brim hat</h1>
                                <a href="#">Mua hàng ngay</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>Bộ sưu tập mũ thời trang mới</span>
                                <h1>Bucket</h1>
                                <a href="#">Mua hàng ngay</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>Bộ sưu tập mũ thời trang mới</span>
                                <h1>Knitted hat</h1>
                                <a href="#">Mua hàng ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Trend Section Begin -->
    <section class="trend spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content">
                        <div class="section-title">
                            <h4>XU HƯỚNG</h4>
                        </div>
                        <div class="trend__item" th:each="product:${top3hottrend}" th:if="${product.status == 1}">
                            <div class="trend__item__pic">
                                <img th:src="${product.images[0].imageUrl}" alt="" style="width: 90px;height: 90px;">
                            </div>
                            <div class="trend__item__text">
                                <h6 th:text="${product.name}"></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price"
                                     th:if="${product.productDetail == null or product.productDetail.isEmpty()}">
                                    Coming soon
                                </div>
                                <!-- Trường hợp: Có thông tin sản phẩm nhưng không có khuyến mãi -->
                                <div class="product__price"
                                     th:if="${product.productDetail != null and !product.productDetail.isEmpty() }">
                                    <!-- Hiển thị giá thấp nhất và cao nhất nếu có nhiều giá -->
                                    <div th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice < product.highestPrice}">
                                    [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]] -
                                    [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice)}]]
                                </div>
                                    <!-- Hiển thị một giá nếu thấp nhất bằng cao nhất -->
                                    <div th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice == product.highestPrice}">
                                    [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]]
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content" >
                        <div class="section-title">
                            <h4>BÁN CHẠY</h4>
                        </div>
                        <div class="trend__item" th:each="product: ${top3bestsell}" th:if="${product.status == 1}">
                            <div class="trend__item__pic">
                                <img th:src="${product.image}" alt="" style="width: 90px;height: 90px;">
                            </div>
                            <div class="trend__item__text">
                                <h6 th:text="${product.name}"></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price"
                                     th:if="${product.productDetail == null or product.productDetail.isEmpty()}">
                                    Coming soon
                                </div>
                                <!-- Trường hợp: Có thông tin sản phẩm nhưng không có khuyến mãi -->
                                <div class="product__price"
                                     th:if="${product.productDetail != null and !product.productDetail.isEmpty()}">
                                    <!-- Hiển thị giá thấp nhất và cao nhất nếu có nhiều giá -->
                                    <div th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice < product.highestPrice}">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]] -
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice)}]]
                                    </div>
                                    <!-- Hiển thị một giá nếu thấp nhất bằng cao nhất -->
                                    <div th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice == product.highestPrice}">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content">
                        <div class="section-title">
                            <h4>PHỔ BIẾN</h4>
                        </div>
                        <div class="trend__item" th:each="product:${top3feature}" th:if="${product.status == 1}">
                            <div class="trend__item__pic">
                                <img th:src="${product.images[0].imageUrl}" alt="" style="width: 90px;height: 90px;">
                            </div>
                            <div class="trend__item__text">
                                <h6 th:text="${product.name}"></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price"
                                     th:if="${product.productDetail == null or product.productDetail.isEmpty()}">
                                    Coming soon
                                </div>
                                <!-- Trường hợp: Có thông tin sản phẩm nhưng không có khuyến mãi -->
                                <div class="product__price"
                                     th:if="${product.productDetail != null and !product.productDetail.isEmpty()}">
                                    <!-- Hiển thị giá thấp nhất và cao nhất nếu có nhiều giá -->
                                    <div th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice < product.highestPrice}">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]] -
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice)}]]
                                    </div>
                                    <!-- Hiển thị một giá nếu thấp nhất bằng cao nhất -->
                                    <div th:if="${product.lowestPrice != null and product.highestPrice != null and product.lowestPrice == product.highestPrice}">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]]
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trend Section End -->



</main>
</body>

</html>