<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/test-theme/template}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            background-color: white;
        }
        .sidebar {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
        .sidebar a {
            text-decoration: none;
            color: black;
            display: block;
            padding: 10px 0;
        }
        .sidebar a:hover {
            background-color: #f1f1f1;
        }
        .order-details {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }
        .order-details h5 {
            margin-bottom: 20px;
        }
        .order-details .btn {
            background-color: #ff5722;
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<main layout:fragment="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="text-center mb-4">
                        <img th:src="@{'/images/employees/' + ${customer.photo}}" class="rounded-circle" height="100" width="100"/>
                        <h6 class="mt-2">ntq0401 #1085</h6>
                    </div>
                    <a href="/account">
                        <i class="fas fa-home"></i>
                        Trang tài khoản
                    </a>
                    <a href="/order">
                        <i class="fas fa-shopping-cart"></i>
                        Đơn hàng
                    </a>
                    <a href="/change-pass">
                        <i class="fas fa-user"></i>
                        Đổi mật khẩu
                    </a>
                    <a href="/">
                        <i class="fas fa-sign-out-alt"></i>
                        Thoát
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="order-details">
                    <h5>Chi tiết đơn hàng</h5>
                    <div class="row mb-3">
                        <div class="col-8">
                            <strong >Sản phẩm</strong>
                            <ul style="list-style: none;">
                                <li th:each="detail : ${listInvoiceDetail}">
                                    <!-- Hiển thị tên sản phẩm và số lượng -->
                                    <span th:text="${detail.productDetail.product.name}+' màu '+${detail.productDetail.color.name}+' size '+${detail.productDetail.size.name}"></span>
                                    x
                                    <span th:text="${detail.quantity}"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4 text-end">
                            <strong >Tổng</strong>
                            <ul style="list-style: none;">
                                <li th:each="detail : ${listInvoiceDetail}">
                                    <span th:text="${T(com.beehat.service.CurrencyUtil).formatCurrency(detail.finalPrice)}">Tổng tiền</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mb-3" th:if="${invoice.invoiceStatus == 1}">
                        <div class="col-8"><strong>Phí giao hàng:</strong></div>
                        <div class="col-4 text-end">30,000đ</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8"><strong>Giảm giá:</strong></div>
                        <div class="col-4 text-end" th:text="${T(com.beehat.service.CurrencyUtil).formatCurrency(totalDiscount)}" ></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8"><strong>Phương thức thanh toán:</strong></div>
                        <div class="col-4 text-end">
                            <span th:text="${invoice.paymentMethod.name}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8"><strong>Tổng cộng:</strong></div>
                        <div class="col-4 text-end" th:text="${T(com.beehat.service.CurrencyUtil).formatCurrency(invoice.finalPrice)}"></div>
                    </div>
                    <div class="text-center mb-4">
                        <a href="/" class="btn">Quay lại trang chủ</a>
                    </div>
                    <h5>Địa chỉ thanh toán</h5>
                    <p>
                        <span th:text="'Họ tên: '+${invoice.customer.fullname}"></span><br/>
                        <span th:text="'Địa chỉ: '+${invoice.shippingAddress}+' '+ ${addressC}"></span><br/>
                        <span th:text="'Số điện thoại: '+${invoice.phone}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
