<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/test-theme/template}">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none; /* Ẩn nút trên trình duyệt Webkit */
            margin: 0; /* Đảm bảo không có khoảng trống */
        }
        input[type=number] {
            -moz-appearance: textfield; /* Ẩn nút trên trình duyệt Firefox */
        }
    </style>
</head>
<body>
<main layout:fragment="main">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Women’s </a>
                        <span>Essential structured blazer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt" th:href="'#product'+${stt.index+1}" th:each="p,stt : ${product.images}">
                                <img th:src="${p.getImageUrl()}" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img th:data-hash="'product'+${stt.index+1}" th:each="p,stt : ${product.images}"
                                     class="product__big__img" th:src="${p.getImageUrl()}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>[[${product.name}]] <span>SKU: [[${product.sku}]]</span></h3>

                        <div class="product__details__price" id="productPrice"
                             th:if="${product.productDetail != null and !product.productDetail.isEmpty() && product.lowestPrice < product.highestPrice && product.promotion == null}">
                            [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]] -
                            [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice)}]]
                        </div>
                        <div class="product__details__price" id="productPrice"
                             th:if="${product.productDetail != null and !product.productDetail.isEmpty() && product.lowestPrice == product.highestPrice && product.promotion == null}">
                            [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]]
                        </div>
                        <div class="product__details__price" id="productPrice"
                             th:if="${product.productDetail != null and !product.productDetail.isEmpty() && product.lowestPrice < product.highestPrice && product.promotion != null}">
                            <del style="color: #939393">
                                [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]] -
                                [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice)}]]
                            </del><br>
                                [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice - product.promotion.discountAmount)}]] -
                                [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.highestPrice - product.promotion.discountAmount)}]]
                        </div>
                        <div class="product__details__price" id="productPrice"
                             th:if="${product.productDetail != null and !product.productDetail.isEmpty() && product.lowestPrice == product.highestPrice && product.promotion != null}">
                            <del>
                            [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice)}]]
                            </del>
                            [[${T(com.beehat.service.CurrencyUtil).formatCurrency(product.lowestPrice - product.promotion.discountAmount)}]]
                        </div>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                            quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                            Neque porro lorem quisquam est</p>
                    </div>

                    <!--                        <div class="product__details__price">$ 75.0 <span>$ 83.0</span></div>-->
                    <div class="product__details__button">
                        <form th:action="@{/add-product-detail-to-cart}" method="post">
                            <div class="quantity">
                                <span>Số lượng:</span>
                                <div class="pro-qty">
                                    <input type="number" oninput="validateQuantityInput(this)" name="quantity" id="quantityInput" value="1" data-stock="" min="1" step="1" max="1000000" data-stock-in-cart="" pattern="\d+">
                                </div>
                            </div>
                            <input type="hidden" name="username" th:value="${username}">
                            <input type="hidden" id="productId" name="productId">
                            <a href="javascript:void(0);" onclick="showStockWarning(this)" class="cart-btn"><span
                                    class="icon_bag_alt"></span> Thêm vào giỏ</a>
                        </form>

                    </div>
                    <div class="product__details__widget">
                        <ul>
                            <input type="hidden" name="product__id" th:value="${product.id}">
                            <li>
                                <span>Màu sắc:</span>
                                <div class="color__checkbox">
                                    <label th:for="${c.name}" th:each="c : ${product.colors}">
                                        <input type="radio" name="color__radio" th:id="${c.name}" th:value="${c.id}">
                                        <span class="checkmark" th:style="'background-color:' + ${c.code}"></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Kích cỡ:</span>
                                <div class="size__btn">
                                    <label th:for="${s.name}+'-btn'" th:each="s :${product.sizes}">
                                        <input type="radio" name="size__radio" th:id="${s.name}+'-btn'"
                                               th:value="${s.id}" th:text="${s.name}">
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Sản phẩm có sẵn : </span>
                                <p id="productStock">[[${product.totalStock}]]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Thông tin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mô tả</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h6>Mô tả</h6>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <h6>Thông tin sản phẩm :</h6>
                            <p>Danh mục: [[${product.category.name}]]</p>
                            <p>Chất liệu: [[${product.material.name}]]</p>
                            <p>Kiểu dáng: [[${product.style.name}]]</p>
                            <p>Vải lót: [[${product.lining.name}]]</p>
                            <p>Đai mũ: [[${product.belt.name}]]</p>

                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <h6>Reviews ( 2 )</h6>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>RELATED PRODUCTS</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/related/rp-1.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="/img/product/related/rp-1.jpg" class="image-popup"><span
                                    class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/related/rp-2.jpg">
                        <ul class="product__hover">
                            <li><a href="/img/product/related/rp-2.jpg" class="image-popup"><span
                                    class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/related/rp-3.jpg">
                        <div class="label stockout">out of stock</div>
                        <ul class="product__hover">
                            <li><a href="/img/product/related/rp-3.jpg" class="image-popup"><span
                                    class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cotton T-Shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/related/rp-4.jpg">
                        <ul class="product__hover">
                            <li><a href="/img/product/related/rp-4.jpg" class="image-popup"><span
                                    class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Slim striped pocket shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Product Details Section End -->
    <script>
        $(document).ready(function () {
            // Lắng nghe sự thay đổi lựa chọn màu sắc và kích cỡ
            $("input[name='color__radio'], input[name='size__radio']").change(function () {
                updatePrice();
            });

            function updatePrice() {
                console.log("hi")
                // Lấy giá trị ID màu sắc và kích cỡ đã chọn
                var selectedColor = $("input[name='color__radio']:checked").val();
                var selectedSize = $("input[name='size__radio']:checked").val();
                var productId = $("input[name='product__id']").val();
                // Nếu cả màu sắc và kích cỡ đều được chọn, gửi yêu cầu AJAX
                if (selectedColor && selectedSize) {
                    $.ajax({
                        url: 'http://localhost:8080/getProductPrice',
                        method: 'GET',
                        data: {
                            product: productId,
                            color: selectedColor,
                            size: selectedSize
                        },
                        success: function (response) {
                            // Kiểm tra nếu phản hồi có chứa giá trị id và price
                            if (response.id && response.price) {
                                // Cập nhật giá, id và số lượng tồn kho trên giao diện
                                if (response.sale != null){
                                    $("#productPrice").text(response.sale);
                                }else{
                                    $("#productPrice").text(response.price);
                                }
                                $("#productId").val(response.id); // Cập nhật ID sản phẩm
                                $("#productStock").text(response.stock); // Hiển thị số lượng tồn kho
                                $("#quantityInput").attr("data-stock", response.stock);
                                $("#quantityInput").attr("data-stock-in-cart", response.stockInCart);
                            } else {
                                console.log("Product detail not found or missing response data.");
                                $("#productPrice").text("N/A");
                                $("#productId").val("N/A");
                                $("#productStock").text("Không xác định");
                            }
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            }
        });
        function checkSelection() {
            const selectedColor = $("input[name='color__radio']:checked").val();
            const selectedSize = $("input[name='size__radio']:checked").val();

            if (!selectedColor || !selectedSize) {
                showToast("error", "Vui lòng chọn đầy đủ màu sắc và kích cỡ!");
                return false; // Ngăn hành động tiếp theo
            }
            return true; // Cho phép thực hiện tiếp
        }

        function showStockWarning(element) {
            // Gọi hàm kiểm tra lựa chọn trước
            if (!checkSelection()) return;

            const form = element.closest('form'); // Lấy form gần nhất
            const stockElement = document.getElementById("productStock");
            const stockInput = document.getElementById("quantityInput"); // Lấy ô input số lượng
            const stockValue = parseInt(stockElement?.innerText || stockElement?.textContent || -1); // Lấy giá trị tồn kho (-1 nếu không tồn tại)
            const requestedQuantity = parseInt(stockInput?.value || 0); // Lấy số lượng yêu cầu từ input
            const stockInCart = stockInput.getAttribute('data-stock-in-cart')
            // Trường hợp số lượng tồn kho = -1 (không tồn tại sản phẩm với lựa chọn)
            if (stockValue === -1) {
                showToast("error", "Sản phẩm không tồn tại với lựa chọn này!");
                return;
            }

            // Trường hợp số lượng tồn kho = 0
            if (stockValue === 0) {
                showToast("error", "Sản phẩm đã hết hàng với lựa chọn này!");
                return;
            }

            // Kiểm tra số lượng yêu cầu có hợp lệ hay không
            if (isNaN(requestedQuantity) || requestedQuantity <= 0) {
                showToast("error", "Vui lòng nhập số lượng hợp lệ!");
                stockInput.focus(); // Đưa con trỏ vào ô input
                return;
            }

            // Nếu số lượng yêu cầu vượt quá tồn kho
            if (requestedQuantity > stockValue) {
                showToast("error", "Số lượng trong kho không đủ để thêm!");
                stockInput.value = stockValue; // Đặt lại giá trị input về tối đa có thể
                stockInput.focus();
                return;
            }
            if (requestedQuantity > stockValue - stockInCart){
                showToast("error","Số lượng sản phẩm bạn mua đã đạt tối đa !")
                stockInput.focus(); // Đưa con trỏ vào ô input
                return;
            }

            // Nếu mọi thứ hợp lệ, submit form
            form.submit();
        }
        function validateQuantityInput(inputElement) {
            const stock = parseInt(inputElement.getAttribute('data-stock')); // Số lượng tồn kho hiện tại
            let quantity = parseInt(inputElement.value); // Số lượng sản phẩm người dùng nhập

            // Kiểm tra nếu số lượng là NaN hoặc nhỏ hơn 1, đặt lại số lượng thành 1
            if (isNaN(quantity) || quantity <= 0) {
                showToast("error","Số lượng sản phẩm không hợp lệ!")
                inputElement.value = 1; // Đặt về 1 nếu nhập không hợp lệ
                return;
            }

            // Kiểm tra nếu số lượng vượt quá tồn kho
            if (quantity > stock) {
                showToast("error","Số lượng yêu cầu vượt quá số lượng tồn kho hiện tại!")
                inputElement.value = stock; // Đặt về tồn kho tối đa
            }
        }
        // Hàm hiển thị SweetAlert Toast
        function showToast(icon, message) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                },
            });
            Toast.fire({
                icon: icon,
                title: message,
            });
        }


    </script>

</main>
</body>

</html>