<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/test-theme/template}">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<main layout:fragment="main">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <form id="filterForm" action="/shop" method="GET">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Danh mục tìm kiếm</h4>
                                <p></p>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">Danh mục sản phẩm</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="sidebar__sizes">
                                                    <div class="size__list">
                                                        <label th:each="cate : ${listCate}" th:for="${cate.name}">
                                                            [[${cate.name}]]
                                                            <input type="radio" name="categoryId" th:id="${cate.name}" th:data-id="${cate.id}" th:value="${cate.id}"
                                                                   th:checked="${param.categoryId != null and param.categoryId.toString() == cate.id.toString()}">
                                                            <span class="checkmark"></span>
                                                        </label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">Chất liệu</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="sidebar__sizes">
                                                    <div class="size__list">
                                                        <ul>
                                                            <label th:each="mater : ${listMater}" th:for="${mater.name}">
                                                                [[${mater.name}]]
                                                                <input type="radio" name="materialId" th:id="${mater.name}" th:data-id="${mater.id}" th:value="${mater.id}"
                                                                       th:checked="${param.materialId != null and param.materialId.toString() == mater.id.toString()}">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseThree">Kiểu dáng</a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="sidebar__sizes">
                                                    <div class="size__list">
                                                        <ul>
                                                            <label th:each="style : ${listStyle}" th:for="${style.name}">
                                                                [[${style.name}]]
                                                                <input type="radio" name="styleId" th:id="${style.name}" th:data-id="${style.id}" th:value="${style.id}"
                                                                       th:checked="${param.styleId != null and param.styleId.toString() == style.id.toString()}">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseFour">Đai mũ</a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="sidebar__sizes">
                                                    <div class="size__list">
                                                        <ul>
                                                            <label th:each="belt : ${listBelt}" th:for="${belt.name}">
                                                                [[${belt.name}]]
                                                                <input type="radio" name="beltId" th:id="${belt.name}" th:data-id="${belt.id}" th:value="${belt.id}"
                                                                       th:checked="${param.beltId != null and param.beltId.toString() == belt.id.toString()}">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseFive">Vải lót</a>
                                        </div>
                                        <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="sidebar__sizes">
                                                    <div class="size__list">
                                                        <ul>
                                                            <label th:each="lining : ${listLining}" th:for="${lining.name}">
                                                                [[${lining.name}]]
                                                                <input type="radio" name="liningId" th:id="${lining.name}" th:data-id="${lining.id}" th:value="${lining.id}"
                                                                       th:checked="${param.liningId != null and param.liningId.toString() == lining.id.toString()}">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>Khoảng giá</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                     data-min="1" data-max="10000000"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Giá:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            <a href="#">Filter</a>
                        </div>
                        <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Kích cỡ</h4>
                            </div>
                            <div class="size__list">
                                <label th:each="size : ${listSize}" th:for="${size.name}">
                                    [[${size.name}]]
                                    <input type="checkbox" name="sizeId" th:id="${size.name}" th:data-id="${size.id}" th:value="${size.id}"
                                           th:checked="${param.sizeId != null and param.sizeId.toString() == size.id.toString()}">
                                    <span class="checkmark"></span>
                                </label>

                            </div>
                        </div>
                        <div class="sidebar__color">
                            <div class="section-title">
                                <h4>Màu sắc</h4>
                            </div>
                            <div class="size__list color__list">
                                <label th:each="color : ${listColor}" th:for="${color.name}">
                                    [[${color.name}]]
                                    <input type="checkbox" name="colorId" th:id="${color.name}" th:data-id="${color.id}" th:value="${color.id}"
                                           th:checked="${param.colorId != null and param.colorId.toString() == color.id.toString()}">
                                    <span class="checkmark"></span>
                                </label>

                            </div>
                        </div>
                            <div class="sidebar__filter">
                            <a href="#" onclick="document.getElementById('filterForm').submit();">Lọc sản phẩm</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-6" th:each="p: ${listProductShop.content}" th:if="${p.status == 1}">
                            <div class="product__item" th:classappend="${p.promotion != null && p.totalStock > 0} ? 'sale' : ''">
                                <div class="product__item__pic set-bg" th:data-setbg="${p.images[0].getImageUrl()}">
                                    <!-- Label: Sale -->
                                    <div class="label" th:if="${p.promotion != null && p.totalStock > 0}">
                                        Sale
                                    </div>
                                    <!-- Label: New (ưu tiên hơn Sale nếu cả hai thỏa mãn điều kiện) -->
                                    <div class="label new"
                                         th:if="${p.promotion == null && p.totalStock > 0 && T(java.time.LocalDateTime).now().minusDays(7).isBefore(p.createdDate)}">
                                        New
                                    </div>
                                    <!-- Label: Hết hàng -->
                                    <div class="label stockout stockblue" th:if="${p.totalStock == 0}">
                                        Hết hàng
                                    </div>
                                        <input type="hidden" name="username" th:value="${username}">
                                        <ul class="product__hover">
                                            <li><a th:href="${p.images[0].getImageUrl()}" class="image-popup"><span
                                                    class="arrow_expand"></span></a></li>
                                            <li><a th:href="@{/detail/{sku}(sku=${p.sku})}"><span
                                                    class="icon_info_alt"></span></a></li>
                                        </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a th:href="@{/detail/{sku}(sku=${p.sku})}">[[${p.name}]]</a></h6>
                                    <div class="rating">

                                    </div>
                                    <div class="product__price"
                                         th:if="${p.productDetail != null and !p.productDetail.isEmpty() && p.lowestPrice < p.highestPrice && p.promotion == null}">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.lowestPrice)}]] -
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.highestPrice)}]]
                                    </div>
                                    <div class="product__price"
                                         th:if="${p.productDetail != null and !p.productDetail.isEmpty() && p.lowestPrice < p.highestPrice && p.promotion != null}">
                                        <del style="color: #939393">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.lowestPrice)}]] -
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.highestPrice)}]]
                                        </del>
                                        <div class="product__details__price" style="font-size:16px" th:if="${p.promotion.discountAmount != null && p.promotion.discountAmount > 0}">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.lowestPrice - p.promotion.discountAmount)}]] -
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.highestPrice - p.promotion.discountAmount)}]]
                                        </div>
                                        <div class="product__details__price" style="font-size:16px" th:if="${p.promotion.discountPercentage != null && p.promotion.discountPercentage > 0}">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.lowestPrice - (p.lowestPrice * p.promotion.discountPercentage / 100))}]] -
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.highestPrice - (p.highestPrice * p.promotion.discountPercentage / 100))}]]
                                        </div>
                                    </div>
                                    <div class="product__price"
                                         th:if="${p.productDetail != null and !p.productDetail.isEmpty() && p.lowestPrice == p.highestPrice && p.promotion == null}">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.lowestPrice)}]]
                                    </div>
                                    <div class="product__price"
                                         th:if="${p.productDetail != null and !p.productDetail.isEmpty() && p.lowestPrice == p.highestPrice  && p.promotion != null}">
                                        <del style="color: #939393">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.lowestPrice)}]]
                                        </del>
                                        <div class="product__details__price" style="font-size:16px" th:if="${p.promotion.discountAmount != null && p.promotion.discountAmount > 0}">
                                            [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.lowestPrice - p.promotion.discountAmount)}]]
                                        </div>
                                        <div class="product__details__price" style="font-size:16px" th:if="${p.promotion.discountPercentage != null && p.promotion.discountPercentage > 0}">
                                            [[${T(com.beehat.service.CurrencyUtil).formatCurrency(p.lowestPrice - (p.lowestPrice * p.promotion.discountPercentage / 100))}]]
                                        </div>
                                        </div>
                                    <div class="product__price"
                                         th:if="${p.productDetail == null or p.productDetail.isEmpty()}">Coming soon
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center" th:if="${totalPages > 0}">
                            <div class="pagination__option">
                                <!-- Nút "Previous" -->
                                <a th:classappend="${currentPage == 0} ? 'disabled'"
                                   th:href="${currentPage > 0} ? @{/shop(page=${currentPage - 1}, size=${size})} : '#'">
                                    <i class="fa fa-angle-left"></i>
                                </a>

                                <!-- Danh sách các trang -->
                                <a th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                   th:classappend="${i == currentPage} ? 'active'"
                                   th:href="@{/shop(page=${i}, size=${size})}">
                                    [[${i + 1}]]
                                </a>

                                <!-- Nút "Next" -->
                                <a th:classappend="${currentPage == totalPages - 1} ? 'disabled'"
                                   th:href="${currentPage < totalPages - 1} ? @{/shop(page=${currentPage + 1}, size=${size})} : '#'">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div th:if="${totalPages <= 0}" class="alert alert-warning">
                            Không tìm thấy sản phẩm.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
<script>

</script>
</main>
</body>

</html>