<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/test-theme/template}">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none; /* Ẩn nút trên trình duyệt Webkit */
            margin: 0; /* Đảm bảo không có khoảng trống */
        }
        input[type=number] {
            -moz-appearance: textfield; /* Ẩn nút trên trình duyệt Firefox */
        }
    </style>
</head>
<body>
<main layout:fragment="main">
    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div th:if="${error}" class="alert alert-danger" style="margin-top: 15px" th:text="${error}"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cart : ${cartDetail}">
                                <td th:if="${cart.productDetail.stock == 0}" class="cart__product__item" th:data-stock="${cart.productDetail.stock}">

                                        <img th:if="${cart.customer != null}" style="height: 100px"
                                             th:src="${cart.productDetail.product.images[0].getImageUrl()}" alt="">
                                        <div class="cart__product__item__title"><del>
                                            <h6 th:text="${cart.productDetail.product.name}"></h6>
                                            <div class="rating">
                                                <p>[[${cart.productDetail.color.name}]] -
                                                    [[${cart.productDetail.size.name}]]</p>
                                            </div>
                                        </del>
                                            <p class="cart__price" th:text="${'Hết hàng'}"></p>
                                        </div>

                                </td>
                                <td th:if="${cart.productDetail.stock > 0}" class="cart__product__item">
                                    <img  style="height: 100px"
                                         th:src="${cart.productDetail.product.images[0].getImageUrl()}" alt="">
                                    <div class="cart__product__item__title">
                                        <h6 th:text="${cart.productDetail.product.name}"></h6>
                                        <div class="rating">
                                            <p>[[${cart.productDetail.color.name}]] -
                                                [[${cart.productDetail.size.name}]]</p>
                                            <p th:text="${'Số lượng sản phẩm còn : '+cart.productDetail.stock}"></p>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price" th:if="${cart.productDetail.product.promotion == null}">
                                    [[${T(com.beehat.service.CurrencyUtil).formatCurrency(cart.productDetail.price)}]]
                                </td>
                                <td class="cart__price" th:if="${cart.productDetail.product.promotion != null}">
                                    <span style="color: #939393; background-image: url('https://file.hstatic.net/1000306633/file/111_ae69cf24dc964f258349efab9c4ae975.png'); background-size: cover; background-color: initial;">
                                        [[${T(com.beehat.service.CurrencyUtil).formatCurrency(cart.productDetail.price)}]]</span>
                                    <!-- Kiểm tra nếu có discountPercentage -->
                                    <span th:if="${cart.productDetail.product.promotion.discountPercentage != null && cart.productDetail.product.promotion.discountPercentage > 0}">
                                                                    <span th:text="${T(com.beehat.service.CurrencyUtil).formatCurrency(cart.productDetail.price - (cart.productDetail.price * cart.productDetail.product.promotion.discountPercentage / 100))}"></span>
                                                                </span>

                                    <!-- Kiểm tra nếu có discountAmount -->
                                    <span th:if="${cart.productDetail.product.promotion.discountAmount != null && cart.productDetail.product.promotion.discountAmount > 0}">
                                                                    <span th:text="${T(com.beehat.service.CurrencyUtil).formatCurrency(cart.productDetail.price - cart.productDetail.product.promotion.discountAmount)}"></span>
                                                                </span>
                                </td>
                                <td class="cart__quantity">
                                    <form th:action="@{/update-cart}" method="post">
                                        <meta name="_csrf" hidden="hidden" content="${_csrf.token}">
                                        <meta name="_csrf_header" hidden="hidden" content="${_csrf.headerName}">
                                        <div class="pro-qty1">
                                            <span class="dec qtybtn" onclick="checkQuantityAndSubmit(this, 'decrease')"
                                                  th:data-quantity-invoice-detail="${cart.quantity}" th:data-stock="${cart.productDetail.stock}" >-</span>
                                            <input name="productId" type="hidden" th:value="${cart.productDetail.id}">
                                            <input id="quantityInput" class="quantity-input" name="quantity" type="number" pattern="\d+" th:data-value-quantity="${cart.quantity}"
                                                   th:value="${cart.quantity}"  th:data-stock="${cart.productDetail.stock}" oninput="validateQuantityInput(this)"
                                                   onkeydown="return event.keyCode !== 69 && event.keyCode !== 189 && event.keyCode !== 190">
                                            <span class="inc qtybtn" onclick="checkQuantityAndSubmit(this, 'increase')"
                                                  th:data-quantity-invoice-detail="${cart.quantity}" th:data-stock="${cart.productDetail.stock}">+</span>
                                        </div>
                                    </form>
                                </td>
                                <td class="cart__total" th:if="${cart.productDetail.product.promotion == null}"
                                    th:text="${T(com.beehat.service.CurrencyUtil).formatCurrency(cart.productDetail.price * cart.quantity)}">
                                </td>
                                <td class="cart__total" th:if="${cart.productDetail.product.promotion != null}">
                                    <span th:if="${cart.productDetail.product.promotion.discountPercentage != null && cart.productDetail.product.promotion.discountPercentage > 0}"
                                        th:text="${T(com.beehat.service.CurrencyUtil).formatCurrency((cart.productDetail.price - (cart.productDetail.price * cart.productDetail.product.promotion.discountPercentage / 100)) * cart.quantity)}">
                                    </span>
                                    <span th:if="${cart.productDetail.product.promotion.discountAmount != null && cart.productDetail.product.promotion.discountAmount > 0}"
                                        th:text="${T(com.beehat.service.CurrencyUtil).formatCurrency((cart.productDetail.price - cart.productDetail.product.promotion.discountAmount) * cart.quantity)}">
                                    </span>

                                </td>
                                <td class="cart__close"><a
                                        th:href="@{/delete-cart/{id}(id=${cart.productDetail.id})}"><span
                                        class="icon_close"></span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/shop">Tiếp tục mua hàng</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span>Cập nhật giỏ hàng</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Tổng tiền giỏ hàng</h6>
                        <ul>
                            <li>Tổng tiền :
                                <span>[[${T(com.beehat.service.CurrencyUtil).formatCurrency(totalPrice)}]]</span></li>
                            <li>Thực thu :
                                <span>[[${T(com.beehat.service.CurrencyUtil).formatCurrency(finalPrice)}]]</span></li>
                        </ul>
                        <form method="post" th:action="@{/proceed-to-checkout}">
                            <a href="javascript:void(0);" onclick="checkCartBeforeCheckout(this)" class="primary-btn">Thanh toán</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function checkQuantityAndSubmit(inputElement, action) {
            const form = inputElement.closest('form'); // Lấy form tương ứng
            const stock = parseInt(inputElement.getAttribute('data-stock')); // Số lượng tồn kho hiện tại
            const quantityInput = inputElement.closest('form').querySelector('.quantity-input');
            let quantity = parseInt(quantityInput.value); // Số lượng sản phẩm hiện tại trong ô input
            const lastQuantity = parseInt(inputElement.getAttribute('data-quantity-invoice-detail')); // Số lượng trong hóa đơn hiện tại

            // Tăng hoặc giảm số lượng dựa trên hành động
            if (action === 'increase') {
                if (quantity < stock) {
                    quantity += 1;
                } else {
                    showToast("error","Số lượng yêu cầu vượt quá số lượng tồn kho hiện tại!")
                    return; // Không tăng số lượng và thoát hàm nếu vượt quá tồn kho
                }
            } else if (action === 'decrease' && quantity > 1) {
                quantity -= 1;
            }

            // Cập nhật lại giá trị của ô input với số lượng mới
            quantityInput.value = quantity;

            // Kiểm tra điều kiện số lượng hợp lệ
            if (isNaN(quantity) || quantity <= 0) {
                showToast("error","Số lượng sản phẩm không hợp lệ!")
                quantityInput.value = lastQuantity; // Khôi phục lại số lượng ban đầu nếu không hợp lệ
                return;
            }

            // Nếu số lượng hợp lệ và không vượt quá tồn kho, cho phép form submit
            form.submit();
        }

        function checkCartBeforeCheckout(element) {
            // Lấy tất cả các sản phẩm trong giỏ hàng
            const form = element.closest('form')
            const cartItems = document.querySelectorAll('.cart__product__item');

            const cartQuantity = document.querySelectorAll('.cart__quantity .pro-qty1');
            if(cartItems.length == 0){
                showToast("error","Không thể thanh toán giỏ hàng trống !");
                return;
            }

            // Kiểm tra xem có sản phẩm nào hết hàng không
            let hasOutOfStockItem = false;
            cartItems.forEach(item => {
                if (item.getAttribute('data-stock') === '0') {
                    hasOutOfStockItem = true;
                }
            });
            // Kiểm tra từng sản phẩm trong giỏ hàng
            let hasError = false; // Cờ để kiểm tra lỗi
            cartQuantity.forEach(item => {
                // Lấy số lượng sản phẩm trong giỏ và tồn kho
                const productQuantity = parseInt(item.querySelector('.quantity-input').getAttribute('data-value-quantity')) || 0; // Số lượng trong giỏ
                const productStock = parseInt(item.querySelector('.dec').getAttribute('data-stock')) || 0; // Số lượng tồn kho

                // Nếu số lượng trong giỏ vượt quá số lượng tồn kho
                if (productQuantity > productStock) {
                    hasError = true;
                    // Hiển thị thông báo lỗi cụ thể
                    showToast("error", `Sản phẩm vượt quá số lượng tồn kho!`);
                }
            });

            // Nếu có lỗi, ngăn người dùng thanh toán
            if (hasError) {
                return;
            }

            // Nếu có sản phẩm hết hàng, hiển thị thông báo và ngăn thanh toán
            if (hasOutOfStockItem) {
                showToast("error","Giỏ hàng của bạn có sản phẩm hết hàng. Vui lòng xoá sản phẩm hết hàng trươc khi thanh toán")
            } else {
                showConfirmDialog("Thanh toán đơn hàng","Bạn có muốn thanh toán đơn hàng ?").then((result) => {
                    if (result.isConfirmed) {
                        // Logic để lưu thay đổi
                        form.submit();
                    } else {
                        // Logic khi không lưu thay đổi
                        console.log("Save canceled.");
                    }
                });

            }
        }
        function validateQuantityInput(inputElement) {
            const stock = parseInt(inputElement.getAttribute('data-stock')); // Số lượng tồn kho hiện tại
            let quantity = parseInt(inputElement.value); // Số lượng sản phẩm người dùng nhập

            // Kiểm tra nếu số lượng là NaN hoặc nhỏ hơn 1, đặt lại số lượng thành 1
            if (isNaN(quantity) || quantity <= 0) {
                showToast("error","Số lượng sản phẩm không hợp lệ!")
                inputElement.value = 1; // Đặt về 1 nếu nhập không hợp lệ
                return;
            }

            // Kiểm tra nếu số lượng vượt quá tồn kho
            if (quantity > stock) {
                showToast("error","Số lượng yêu cầu vượt quá số lượng tồn kho hiện tại!")
                inputElement.value = stock; // Đặt về tồn kho tối đa
            }
        }


    </script>
</main>
</body>

</html>