<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Quản lí kiểu dáng</title>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <h1>Quản lí kiểu dáng</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStyleModal">
        Thêm mới
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addStyleModal" tabindex="-1" aria-labelledby="addStyleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStyleModalLabel">Thêm mới kiểu dáng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form thêm mới đai nón -->
                    <form th:object="${s}" method="post">
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <div class="mb-3">
                            <label class="form-label">Tên kiểu dáng</label>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Nhập tên kiểu dáng">
                            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" formaction="/admin/style/index">Tạo mới
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Tên kiểu dáng</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
            <th>Hành động</th>
        </tr>
        <tr th:each="style,stt : ${listStyle}">
            <td>[[${stt.index + 1}]]</td>
            <td>[[${style.id}]]</td>
            <td>[[${style.name}]]</td>
            <td>[[${style.status} == 1? 'Hoạt động' : 'Không hoạt động']]</td>
            <td>[[${style.createdDate.toString().substring(0,10)}]]</td>
            <td colspan="2">
                <a th:href="@{/admin/style/update/{id}(id=${style.id})}">
                    <button class="btn btn-warning"><i class="ph ph-pencil"></i></button>
                </a>
                <a th:if="${style.status == 1}" th:href="@{/admin/style/delete/{id}(id=${style.id})}"
                   onclick="return confirm('Bạn có chắc là muốn tắt hoạt động ?')">
                    <button class="btn btn-danger"><i class="ph ph-power"></i></button>
                </a>
                <a th:if="${style.status == 0}" th:href="@{/admin/style/on/{id}(id=${style.id})}"
                   onclick="return confirm('Bạn có chắc là muốn bật hoạt động ?')">
                    <button class="btn btn-success"><i class="ph ph-power"></i></button>
                </a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>