<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}" >
<head>
  <meta charset="UTF-8">
  <title>Quản lí chương trình khuyến mãi</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script>
    function toggleSelectAll(selectAllCheckbox) {
      // Lấy tất cả các checkbox của sản phẩm
      const checkboxes = document.querySelectorAll('.productCheckbox');
      checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAllCheckbox.checked;
      });
    }
    function validateForm(event) {
      // Kiểm tra ít nhất một sản phẩm được chọn
      const checkboxes = document.querySelectorAll('.productCheckbox');
      const isChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
      if (!isChecked) {
        alert("Vui lòng chọn ít nhất một sản phẩm.");
        event.preventDefault(); // Ngăn chặn gửi form nếu không có sản phẩm nào được chọn
        return;
      }

      // Kiểm tra ngày kết thúc phải lớn hơn ngày bắt đầu
      const startDate = document.getElementById('startDate').value;
      const endDate = document.getElementById('endDate').value;
      if (startDate && endDate && new Date(endDate) <= new Date(startDate)) {
        alert("Ngày kết thúc phải lớn hơn ngày bắt đầu.");
        event.preventDefault(); // Ngăn chặn gửi form nếu ngày kết thúc không hợp lệ
      }


      // Kiểm tra yêu cầu nhập cho loại giảm giá
      const discountType = document.querySelector('input[name="discountType"]:checked');
      if (discountType) {
        if (discountType.value === 'percentage') {
          const percentageInput = document.getElementById('percentage').value;
          if (!percentageInput) {
            alert("Vui lòng nhập phần trăm giảm.");
            event.preventDefault();
            return;
          }
        } else if (discountType.value === 'value') {
          const valueInput = document.getElementById('value').value;
          if (!valueInput) {
            alert("Vui lòng nhập giá trị giảm.");
            event.preventDefault();
            return;
          }
        }
      }
    }
    function toggleDiscountInput() {
      const discountPercentageRadio = document.getElementById('discountPercentage');
      const discountValueRadio = document.getElementById('discountValue');
      const discountPercentageInput = document.getElementById('percentage');
      const discountValueInput = document.getElementById('value');

      if (discountPercentageRadio.checked) {
        // Hiển thị ô nhập % và đặt giá trị giảm giá về 0
        document.getElementById('discountPercentageInput').style.display = 'block';
        document.getElementById('discountValueInput').style.display = 'none';
        discountValueInput.value = 0;
      } else if (discountValueRadio.checked) {
        // Hiển thị ô nhập giá trị và đặt phần trăm giảm giá về 0
        document.getElementById('discountPercentageInput').style.display = 'none';
        document.getElementById('discountValueInput').style.display = 'block';
        discountPercentageInput.value = 0;
      }
    }

    // Gọi hàm khi trang load để hiển thị đúng input
    document.addEventListener("DOMContentLoaded", toggleDiscountInput);
  </script>
  <style>
    .scroll-container {
      height: 400px; /* Chiều cao cố định */
      overflow-y: auto; /* Thanh cuộn dọc */
    }
  </style>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/index">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="/admin/promotion">Chương trình giảm giá</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cập nhật</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Bộ lọc</h5>
    </div>

    <div class="card-body">
      <div class="row mt-2">
        <div>
          <form th:action="@{/admin/promotion/update}" method="get" id="searchForm">
            <input type="text" name="id" th:value="${promotion.id}" hidden>
            <div class="row">
              <div class="form-group">
                <input placeholder="Nhập tên" type="text" class="form-control" id="search"
                       name="search">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label>Từ ngày:</label>
                <input type="datetime-local" class="form-control" id="fromDate" name="fromDate">
              </div>
              <div class="col-md-3">
                <label>Tới ngày:</label>
                <input type="datetime-local" class="form-control" id="toDate" name="toDate">
              </div>
              <div class="col-md-4">
                <label>Danh mục</label>
                <select class="form-select" name="categoryId">
                  <option value="">Tất cả</option>
                  <option th:each=" cate : ${listCategory}" th:value="${cate.id}"
                          th:text="${cate.name}"
                          th:selected="${param.categoryId != null and param.categoryId.toString() == cate.id.toString()}"></option>

                </select>
              </div>
              <div class="col-auto d-flex align-items-center">
                <button class="btn btn-info" type="submit">
                  <i class="ph ph-magnifying-glass"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <form th:action="@{/admin/promotion/update}" method="post" onsubmit="validateForm(event)">
    <input type="text" name="id" th:value="${promotion.id}" hidden>
    <div class="row">
      <div class="col-4 ">
        <div class="card ">
          <div class="card-header">
            <h5 class="card-title">Cập nhật promotion</h5>
          </div>

          <div class="card-body">
            <div class="form-group">
              <label for="name">Tên chương trình khuyến mãi:</label>
              <input type="text" maxlength="100" id="name" name="name" th:value="${promotion.name}" class="form-control" required>
            </div>

            <!-- Loại giảm giá -->
            <div class="form-group">
              <label>Loại giảm giá:</label><br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="discountPercentage" name="discountType" value="percentage" th:checked="${promotion.discountPercentage > 0}" onclick="toggleDiscountInput()" required>
                <label class="form-check-label" for="discountPercentage">Phần trăm (%)</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="discountValue" name="discountType" value="value" th:checked="${promotion.discountAmount > 0}" onclick="toggleDiscountInput()" >
                <label class="form-check-label" for="discountValue">Giá trị</label>
              </div>
            </div>

            <!-- Ô nhập % -->
            <div class="form-group" style="display: none;" id="discountPercentageInput" >
              <label for="percentage">Nhập phần trăm giảm:</label>
              <input type="number" id="percentage" name="percentage" th:value="${promotion.discountPercentage}"  class="form-control" placeholder="% giảm" min="0" max="70" >
            </div>

            <!-- Ô nhập giá trị -->
            <div class="form-group" style="display: none;" id="discountValueInput" >
              <label for="value">Nhập giá trị giảm:</label>
              <input type="number" id="value" name="value" th:value="${promotion.discountAmount}" class="form-control" placeholder="Giá trị giảm" min="0" max="1000000000" >
            </div>
            <!-- Ngày bắt đầu -->
            <div class="form-group">
              <label for="startDate">Ngày bắt đầu:</label>
              <input type="datetime-local" th:value="${promotion.startDate}" id="startDate" name="startDate" class="form-control" required>
            </div>

            <!-- Ngày kết thúc -->
            <div class="form-group mt-3">
              <label for="endDate">Ngày kết thúc:</label>
              <input type="datetime-local" th:value="${promotion.endDate}" id="endDate" name="endDate" class="form-control" required>
            </div>

            <!-- Nút Thêm và Quay lại -->
            <div class="form-group mt-3 text-center">
              <button type="submit" class="btn btn-primary">Update</button>
              <a class="btn btn-secondary" th:href="@{/admin/promotion}">Quay lại</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card ">
          <div class="card-header">
            <h5 class="card-title">Danh sách sản phẩm</h5>
            <div th:if="${error}" th:class="'alert ' + (${error} != null ? 'alert-danger' : 'alert-success')" th:text="${error}"></div>

          </div>

          <div class="card-body">
            <div id="product-container" class="scroll-container">
            <table class="table table-bordered">
              <thead class="thead-light">
              <tr>
                <th scope="col"><input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)"></th>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng tồn</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Trạng thái</th>
              </tr>
              </thead>
              <tbody id="product-list">
              <!-- Lặp qua danh sách sản phẩm -->
              <tr th:block th:each="product : ${listProduct}">
                <td>
                  <input class="productCheckbox" type="checkbox" th:value="${product.id}"
                         th:name="selectedProducts"
                         th:checked="${selectedSet != null && selectedSet.contains(product.id)}"/>
                </td>
                <td th:text="${product.sku}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.totalStock}"></td>
                <td th:text="${#temporals.format(product.createdDate, 'dd-MM-yyyy')}"></td>
                <td><span class="badge rounded-pill bg-primary"
                          th:text="${product.status==1?'Hoạt động':'Không hoạt động'}"></span></td>
              </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script>
    let currentPage = 0;
    let isLoading = false; // Prevent multiple API calls

    // Function to load next page of products
    function loadNextPage() {
      if (isLoading) return; // Prevent multiple API calls

      isLoading = true; // Set loading flag to true

      const search = document.getElementById('search').value; // Get search value
      const fromDate = document.getElementById('fromDate').value; // Get fromDate value
      const toDate = document.getElementById('toDate').value; // Get toDate value
      const categoryId = document.getElementById('categoryId').value; // Get categoryId value

      // Gọi API để lấy thêm sản phẩm
      fetch(`/admin/promotion/update?page=${currentPage + 1}&selectedProducts=${selectedSet}&search=${search}&fromDate=${fromDate}&toDate=${toDate}&categoryId=${categoryId}`)
              .then(response => response.text()) // Trả về HTML
              .then(html => {
                document.getElementById('product-list').innerHTML += html; // Append sản phẩm mới vào bảng
                isLoading = false; // Reset loading flag
                currentPage++; // Cập nhật trang hiện tại
              })
              .catch(error => {
                console.error("Error loading products:", error);
                isLoading = false;
              });
    }

  </script>
</main>
</body>
</html>