<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Quản lí chất liệu</title>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <h1>Quản lí chất liệu</h1>
    <form method="post" th:object="${m}">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <p>Id :
            <input type="text" class="form-control" th:field="*{id}" disabled>
        </p>
        <p>Tên chất liệu :
            <input type="text" class="form-control" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
        </p>
        <p>Trạng thái :
            <input class="form-radio" type="radio" value="1" th:field="*{status}">Hoạt động
            <input class="form-radio" type="radio" value="0" th:field="*{status}">Không hoạt động
        <p class="text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
        </p>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</main>
</body>
</html>