<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Quản lí chất liệu</title>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <h1>Quản lí chất liệu</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMaterialModal">
        Thêm mới
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addMaterialModal" tabindex="-1" aria-labelledby="addMaterialModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMaterialModalLabel">Thêm mới chất liệu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form thêm mới chất liệu -->
                    <form th:object="${m}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Tên chất liệu</label>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Nhập tên chất liệu">
                            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" formaction="/admin/material/index">Tạo mới
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Tên chất liệu</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
            <th>Hành động</th>
        </tr>
        <tr th:each="material,stt : ${listMaterial}">
            <td>[[${stt.index + 1}]]</td>
            <td>[[${material.id}]]</td>
            <td>[[${material.name}]]</td>
            <td>[[${material.status} == 1 ? 'Hoạt động' : 'Không hoạt động']]</td>
            <td>[[${material.createdDate.toString().substring(0,10)}]]</td>
            <td colspan="2">
                <a th:href="@{/admin/material/update/{id}(id=${material.id})}">
                    <button class="btn btn-warning">Update</button>
                </a>
                <a th:href="@{/admin/material/delete/{id}(id=${material.id})}"
                   onclick="return confirm('Bạn có muốn xoá ?')">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>