<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Quản lí màu sắc</title>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <h1>Quản lí màu sắc</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addColorModal">
        Thêm mới
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addColorModal" tabindex="-1" aria-labelledby="addColorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addColorModalLabel">Thêm mới màu sắc</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form thêm mới đai nón -->
                    <form th:object="${c}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Tên màu sắc</label>
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Nhập tên màu sắc">
                            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mã màu</label>
                            <input type="color" class="form-color" th:field="*{code}" placeholder="Nhập mã màu">
                            <p th:if="${#fields.hasErrors('code')}" class="text-danger" th:errors="*{code}"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" formaction="/admin/color/index">Tạo mới
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Id</th>
            <th>Tên màu sắc</th>
            <th>Mã màu</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
            <th>Hành động</th>
        </tr>
        <tr th:each="color,stt : ${listColor}">
            <td>[[${stt.index + 1}]]</td>
            <td>[[${color.id}]]</td>
            <td>[[${color.name}]]</td>
            <td>[[${color.code}]]</td>
            <td>[[${color.status} == 1 ? 'Hoạt động' : 'Không hoạt động']]</td>
            <td>[[${color.createdDate.toString().substring(0,10)}]]</td>
            <td colspan="2">
                <a th:href="@{/admin/color/update/{id}(id=${color.id})}">
                    <button class="btn btn-warning">Update</button>
                </a>
                <a th:href="@{/admin/color/delete/{id}(id=${color.id})}"
                   onclick="return confirm('Bạn có chắc là muốn xoá ?')">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>