<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/employee/template}">
<head>
  <meta charset="UTF-8">
  <title>Đổi Mật Khẩu</title>

</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">


  <h1>Đổi Mật Khẩu</h1>
  <div th:if="${message}" class="alert alert-success">
    <p th:text="${message}"></p>
  </div>

  <!-- Hiển thị thông báo lỗi -->
  <div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
  </div>
  <form th:action="@{/employee/changepassword}" method="post">
    <div class="form-group">
      <label>Mật Khẩu Hiện Tại</label>
      <input type="password" name="currentPassword" class="form-control" required/>
    </div>
    <div class="form-group">
      <label>Mật Khẩu Mới</label>
      <input type="password" name="newPassword" class="form-control" required/>
    </div>
    <div class="form-group">
      <label>Xác Nhận Mật Khẩu Mới</label>
      <input type="password" name="confirmPassword" class="form-control" required/>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-primary me-2">Đổi Mật Khẩu</button>
      <a th:href="@{/employee/dashboard}" class="btn btn-outline-primary">Hủy</a>
    </div>
  </form>
</main>
</body>
</html>
