<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Bán hàng tại quầy</title>
    <link rel="stylesheet" href="/admin/store/style.css">
</head>

<body>

<main class="content px-3 py-4" layout:fragment="main">
    <div class="container-fluid">
        <div class="row">
            <!-- Nội dung trang chính ở bên trái (nếu có) -->
            <div class="col-md-9">
                <div class="card text-center">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <ul class="nav nav-pills card-header-pills" id="navPills">
                            <li class="nav-item" th:each="invoice,stt : ${listInvoice}">
                                <a th:href="@{/admin/store/invoice-detail/{id}(id=${invoice.id})}" class="nav-link">Hoá
                                    đơn [[${stt.index+1}]]</a>
                                <a th:href="@{/admin/store/index/{id}(id=${invoice.id})}"><button type="button" class="btn-close" aria-label="Close"></button></a>
                            </li>
                        </ul>
                        <!-- Button to add new Nav item inside nav -->
                        <form method="post" th:object="${i}">
                            <button id="addNavItemBtn" type="submit" class="btn btn-success">Thêm hoá đơn</button>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control flex-grow-1"
                                           placeholder="Tìm kiếm sản phẩm">
                                    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal"
                                            data-bs-target="#productModal">+
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="productModal" tabindex="-1"
                                         aria-labelledby="productModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="productModalLabel">Danh sách sản
                                                        phẩm</h5>
                                                    <button type="button" class="btn-close" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Ảnh</th>
                                                            <th>SKU</th>
                                                            <th>Tên sản phẩm</th>
                                                            <th>Kích cỡ</th>
                                                            <th>Màu sắc</th>
                                                            <th>Chất liệu</th>
                                                            <th>Danh mục</th>
                                                            <th>Vải lót</th>
                                                            <th>Đai mũ</th>
                                                            <th>Kiểu dáng</th>
                                                            <th>Hành động</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!-- Lặp qua danh sách productDetail -->
                                                        <tr th:each="detail, stt : ${productDetails.content}">
                                                            <td>[[${stt.index +1}]]</td>
                                                            <td th:if="${detail.product.images.size() > 0}">
                                                                <img th:src="${detail.product.images[0].imageUrl}"
                                                                     alt="Ảnh sản phẩm"
                                                                     style="width: 100px; height: auto;"/>
                                                            </td>
                                                            <td th:if="${detail.product.images.size() <= 0}">
                                                                <img src="" alt="Ảnh mặc định"
                                                                     style="width: 100px; height: auto;"/>
                                                            </td>
                                                            <td>[[${detail.product.sku}]]</td>
                                                            <td>[[${detail.product.name}]]</td>
                                                            <td>[[${detail.size.name}]]</td>
                                                            <td>[[${detail.color.name}]]</td>
                                                            <td>[[${detail.product.material.name}]]</td>
                                                            <td>[[${detail.product.category.name}]]</td>
                                                            <td>[[${detail.product.lining.name}]]</td>
                                                            <td>[[${detail.product.belt.name}]]</td>
                                                            <td>[[${detail.product.style.name}]]</td>
                                                            <td>
                                                                <form method="post" th:action="@{/admin/store/add-product-to-invoice-detail}">
                                                                    <input type="hidden" th:value="${detail.id}" name="productDetailId" />
                                                                    <input type="hidden" th:value="${detail.id}" name="productDetailId" />
                                                                    <button type="submit" class="btn btn-primary">Thêm vào giỏ</button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- Hiển thị nút phân trang -->
                                                    <div class="pagination">
                                                        <ul>
                                                            <li th:if="${currentPage > 0}">
                                                                <a th:href="@{/admin/store/index(page=${currentPage - 1}, size=${size})}">&laquo;
                                                                    Trước</a>
                                                            </li>
                                                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                                                th:classappend="${i == currentPage} ? 'active'">
                                                                <a th:href="@{/admin/store/index(page=${i}, size=${size})}">[[${i
                                                                    + 1}]]</a>
                                                            </li>
                                                            <li th:if="${currentPage < totalPages - 1}">
                                                                <a th:href="@{/admin/store/index(page=${currentPage + 1}, size=${size})}">Sau
                                                                    &raquo;</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Đóng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="me-3">16-10-2024</span>
                                <span class="me-3">#1</span>
                                <span class="me-3">ED21-BHDOL</span>
                                <span class="badge rounded-pill bg-info">Chưa thanh toán</span>
                            </div>
                        </div>
                        <table class="table" style="margin-bottom: 0px">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="invoiceDetail,stt : ${invoiceDetail}">
                                <td>[[${stt.index+1}]]</td>
                                <td th:if="${invoiceDetail.productDetail.product.images.size() > 0}">
                                    <div class="flex-shrink-0">
                                        <img th:src="${invoiceDetail.productDetail.product.images[0].imageUrl}" alt="Ảnh sản phẩm" width="35"
                                             class="img-fluid"/>
                                    </div>
                                </td>
                                <td th:if="${invoiceDetail.productDetail.product.images.size() <= 0}">
                                    <div class="flex-shrink-0">
                                        <img src="" alt="Ảnh mặc định" width="35" class="img-fluid"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex-lg-grow-1 ms-3">
                                        <h6 class="small mb-0"><a href="#" class="text-reset">[[${invoiceDetail.productDetail.product.name}]]</a></h6>
                                        <span class="small">Color: [[${invoiceDetail.productDetail.color.name}]]</span>
                                    </div>
                                </td>
                                <td>[[${invoiceDetail.quantity}]]</td>
                                <td class="text-end">[[${invoiceDetail.productDetail.price}]]</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Card thông tin khách hàng ở bên phải -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        Thông tin hoá đơn
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="customerName" class="form-label me-2">Khách Hàng</label>
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control flex-grow-1" id="customerName"
                                           placeholder="Nhập tên khách hàng">
                                    <button type="button" class="btn btn-primary ms-2">+</button>
                                </div>
                            </div>
                            <!-- Nhập voucher -->
                            <div class="mb-3 row">
                                <label for="voucherCode" class="form-label">Mã Voucher</label>
                                <div class="col-7">
                                    <input type="text" class="form-control" id="voucherCode"
                                           placeholder="Nhập voucher">
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-primary w-100" id="applyVoucherBtn">Áp dụng
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="customerName" class="form-label me-2">Phương thức thanh toán</label>
                                <div class="d-flex align-items-center">
                                    <select class="form-control flex-grow-1" id="">
                                        <option>Chọn phương thức thanh toán</option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb-5 mt-3">
                                    <tbody>
                                    <tr>
                                        <td>Tổng tiền :</td>
                                        <td class="text-end">$ 0</td>
                                    </tr>
                                    <tr>
                                        <td>Giảm giá :</td>
                                        <td class="text-end">- $ 0</td>
                                    </tr>
                                    <tr>
                                        <td>Phí ship :</td>
                                        <td class="text-end">$ 0</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th>Thực thu :</th>
                                        <td class="text-end">
                                            <span class="fw-bold">
                                                $ 0
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Thanh toán</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/admin/store/script.js"></script>
    <script>
        const navPills = document.getElementById('navPills');

        // Lắng nghe sự kiện click trên tất cả các nút X
        navPills.addEventListener('click', function (e) {
            if (e.target.classList.contains('btn-close')) {
                // Xóa thẻ li chứa nút X khi bấm vào
                e.target.closest('li').remove();
            }
        });
    </script>
</main>
</body>


</html>