<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Bán hàng tại quầy</title>
    <link rel="stylesheet" href="/admin/store/style.css">
</head>

<body>

<main class="content px-3 py-4" layout:fragment="main">
    <div class="container-fluid">
        <div class="container mt-5">

        </div>
        <div class="row">
            <!-- Nội dung trang chính ở bên trái (nếu có) -->
            <div class="col-md-9">
                <div class="card text-center">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <ul class="nav nav-pills card-header-pills" id="navPills">
                            <li class="hoa-don nav-item" th:each="invoice,stt : ${listInvoice}">
                                <a th:href="@{/admin/store/invoice-detail/{id}(id=${invoice.id})}" class="hoa-don-link nav-link">Hoá
                                    đơn [[${stt.index+1}]]</a>
                                <a th:href="@{/admin/store/delete-invoice/{id}(id=${invoice.id})}"><button type="button" class="nut-close btn-close" aria-label="Close"></button></a>
                            </li>
                        </ul>
                        <!-- Button to add new Nav item inside nav -->
                        <form id="invoiceForm" th:action="@{/admin/store/add-invoice}" method="post" th:object="${i}">
                            <button  id="showToastButton" type="button" class="btn btn-success">Thêm hoá đơn</button>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control flex-grow-1"
                                           placeholder="Tìm kiếm sản phẩm">
                                    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal"
                                            data-bs-target="#productModal">+
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="productModal" tabindex="-1"
                                         aria-labelledby="productModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="productModalLabel">Danh sách sản
                                                        phẩm</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Ảnh</th>
                                                            <th>SKU</th>
                                                            <th>Tên sản phẩm</th>
                                                            <th>Kích cỡ</th>
                                                            <th>Màu sắc</th>
                                                            <th>Chất liệu</th>
                                                            <th>Danh mục</th>
                                                            <th>Vải lót</th>
                                                            <th>Đai mũ</th>
                                                            <th>Kiểu dáng</th>
                                                            <th>Số lượng</th>
                                                            <th>Hành động</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!-- Lặp qua danh sách productDetail -->
                                                        <tr th:each="detail, stt : ${productDetails.content}">
                                                            <td>[[${stt.index +1}]]</td>
                                                            <td th:if="${detail.product.images.size() > 0}">
                                                                <img th:src="${detail.product.images[0].imageUrl}"
                                                                     alt="Ảnh sản phẩm"
                                                                     style="width: 100px; height: auto;"/>
                                                            </td>
                                                            <td th:if="${detail.product.images.size() <= 0}">
                                                                <img src="" alt="Ảnh mặc định"
                                                                     style="width: 100px; height: auto;"/>
                                                            </td>
                                                            <td>[[${detail.product.sku}]]</td>
                                                            <td>[[${detail.product.name}]]</td>
                                                            <td>[[${detail.size.name}]]</td>
                                                            <td>[[${detail.color.name}]]</td>
                                                            <td>[[${detail.product.material.name}]]</td>
                                                            <td>[[${detail.product.category.name}]]</td>
                                                            <td>[[${detail.product.lining.name}]]</td>
                                                            <td>[[${detail.product.belt.name}]]</td>
                                                            <td>[[${detail.product.style.name}]]</td>
                                                            <td>[[${detail.stock}]]</td>
                                                            <td colspan="2">
                                                                    <form method="post">
                                                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                                        <input th:value="${invoiceId}" name="invoiceId" hidden="hidden">
                                                                        <input th:value="${detail.id}" name="productDetailId" hidden="hidden">
                                                                        <button th:formaction="@{/admin/store/add-product-detail-to-invoice}" class="btn btn-primary" type="submit">Thêm vào giỏ</button>
                                                                    </form>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- Hiển thị nút phân trang -->
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination">
                                                            <li class="page-item"><a class="page-link" th:href="@{/admin/store/invoice-detail/{id}(id=${invoiceId},page=${currentPage - 1}, size=${size})}">Previous</a></li>
                                                            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                                                th:classappend="${i == currentPage} ? 'active'"><a class="page-link" th:href="@{/admin/store/invoice-detail/{id}(id=${invoiceId},page=${i}, size=${size})}">[[${i
                                                                + 1}]]</a></li>
                                                            <li class="page-item"><a class="page-link" th:href="@{/admin/store/invoice-detail/{id}(id=${invoiceId},page=${currentPage + 1}, size=${size})}">Next</a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Đóng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="me-3" th:text="${formattedDate != null ? formattedDate : ''}"></span>
                                <span class="me-3" th:text="${infoInvoice != null ? infoInvoice.id : ''}"></span>
                                <span class="me-3" th:text="${infoInvoice != null ? infoInvoice.invoiceTrackingNumber : ''}"></span>
                                <span class="badge rounded-pill bg-info" th:if="${infoInvoice != null}">[[${infoInvoice.status} == 0 ? 'Chưa thanh toán':'Đã thanh toán']]</span>
                            </div>
                        </div>
                        <table class="table" style="margin-bottom: 0px">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr th:each="invoiceDetail,stt : ${listInvoiceDetail}">
                                <td>[[${stt.index+1}]]</td>
                                <td th:if="${invoiceDetail.productDetail.product.images.size() > 0}">
                                    <div class="flex-shrink-0">
                                        <img th:src="${invoiceDetail.productDetail.product.images[0].imageUrl}" alt="Ảnh sản phẩm" width="35"
                                             class="img-fluid"/>
                                    </div>
                                </td>
                                <td th:if="${invoiceDetail.productDetail.product.images.size() <= 0}">
                                    <div class="flex-shrink-0">
                                        <img src="" alt="Ảnh mặc định" width="35" class="img-fluid"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex-lg-grow-1 ms-3">
                                        <h6 class="small mb-0"><a href="#" class="text-reset">[[${invoiceDetail.productDetail.product.name}]]</a></h6>
                                        <span class="small">Màu sắc: [[${invoiceDetail.productDetail.color.name}]],</span>
                                        <span class="small">Kích cỡ: [[${invoiceDetail.productDetail.size.name}]]</span>
                                    </div>
                                </td>
                                <td>
                                    [[${invoiceDetail.quantity}]]
                                </td>
                                <td>[[${invoiceDetail.productDetail.price}]]</td>
                                <td>[[${invoiceDetail.finalPrice}]]</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Card thông tin khách hàng ở bên phải -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        Thông tin hoá đơn
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label  class="form-label me-2">Khách Hàng</label>
                                <div class="d-flex align-items-center">
                                    <select id="customerSelect" class="form-select">
                                        <option value="">Chọn khách hàng</option>
                                        <option th:each="customer : ${listCustomer}" th:value="${customer.id}" th:text="${customer.fullname}+' - '+${customer.phone}"></option>
                                    </select>
                                    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#addCustomerModal">+</button>
                                </div>
                            </div>
                            <!-- Nhập voucher -->
                            <div class="mb-3 row">
                                <label for="voucherCode" class="form-label">Mã Voucher</label>
                                <div class="col-7">
                                    <input type="text" class="form-control" id="voucherCode"
                                           placeholder="Nhập voucher">
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-primary w-100" id="applyVoucherBtn">Áp dụng
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label me-2">Phương thức thanh toán</label>
                                <div class="d-flex align-items-center">
                                    <select class="form-control flex-grow-1" >
                                        <option value="" hidden="hidden">Chọn phương thức thanh toán</option>
                                        <option th:each="payment : ${listPayment}"
                                                th:text="${payment.name}"
                                                th:value="${payment.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb-5 mt-3">
                                    <tbody>
                                    <form th:object="${infoInvoice}">
                                    <tr>
                                        <td>Tổng tiền :</td>
                                        <td th:if="${infoInvoice != null}" class="text-end" th:field="*{totalPrice}" th:text="*{totalPrice}"></td>
                                    </tr>
                                    <tr>
                                        <td>Giảm giá :</td>
                                        <td th:if="${infoInvoice != null}" class="text-end" th:field="*{voucherDiscount}" th:text="*{voucherDiscount}"></td>
                                    </tr>
                                    <tr>
                                        <td>Phí ship :</td>
                                        <td class="text-end">$ 25</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th>Thực thu :</th>
                                        <td class="text-end">
                                            <span th:if="${infoInvoice != null}" class="fw-bold" th:field="*{finalPrice}" th:text="*{finalPrice}">
                                            </span>
                                        </td>
                                    </tr>
                                    </form>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Lưu Thông Tin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" th:object="${kh}" th:action="@{/admin/store/add-new-customer}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCustomerModalLabel">Thêm Khách Hàng Mới</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Tên Khách Hàng</label>
                            <input type="text" hidden="hidden" th:value="${invoiceId}" name="invoiceId">
                            <input type="text" class="form-control" th:field="*{fullname}" placeholder="Nhập tên khách hàng" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Số Điện Thoại</label>
                            <input type="tel" class="form-control"  th:field="*{phone}" placeholder="Nhập số điện thoại" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <label for="customerSelect">Chọn khách hàng:</label>


    <script>
        $(document).ready(function() {
            $('#customerSelect').select2({
                placeholder: "Tìm kiếm khách hàng",
                allowClear: true
            });
        });
    </script>
    <script src="/admin/store/script.js"></script>
    <script>
        document.getElementById('showToastButton').addEventListener('click', function (event) {
            // Hiển thị hộp thoại xác nhận
            Swal.fire({
                title: 'Bạn có chắc chắn muốn thêm hóa đơn?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Đồng ý',
                cancelButtonText: 'Hủy',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu đồng ý, hiển thị thông báo Toast
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "success",
                        title: "Thêm thành công"
                    });

                    // Chờ toast hoàn thành rồi submit form
                    setTimeout(() => {
                        document.getElementById('invoiceForm').submit();
                    }, 3000);
                }
            });
        });
    </script>
    <script>
        $(document).on('click', '.pagination-link', function (event) {
            event.preventDefault(); // Ngăn chặn tải lại trang

            const page = $(this).data('page'); // Lấy số trang từ data-page
            const size = 10; // Bạn có thể tùy chỉnh kích thước trang nếu cần

            $.ajax({
                url: '/admin/store/index', // Đường dẫn đến controller lấy dữ liệu
                type: 'GET',
                data: { page: page, size: size },
                success: function (response) {
                    // Chỉ cập nhật nội dung của bảng và pagination
                    $('#productTable').html($(response).find('#productTable').html());
                    $('.pagination').html($(response).find('.pagination').html());
                },
                error: function () {
                    alert("Không thể tải danh sách sản phẩm.");
                }
            });
        });

    </script>
</main>
</body>


</html>