<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Quản lí sản phẩm</title>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <form method="post" th:object="${pd}">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <p>ID Sản phẩm :
            <input class="form-control" type="text" th:field="*{product.id}" disabled>
        </p>
        <p>Màu sắc :</p>
        <div th:each="color : ${listColor}">
            <input class="form-color" type="checkbox" th:value="${color.id}" th:name="colors">
            [[${color.name}]]
        </div>

        <p>Kích cỡ :</p>
        <div th:each="size : ${listSize}">
            <input type="checkbox" th:value="${size.id}" name="sizes"> [[${size.name}]]
        </div>
        <p>Giá :
            <input class="form-control" type="number" th:field="*{price}">
        </p>
        <p>Số lượng :
            <input class="form-control" type="number" th:field="*{stock}">
        </p>
        <p>Trạng thái :
            <input type="radio" class="form-radio" th:field="*{status}" value="1">Hoạt động
            <input type="radio" class="form-radio" th:field="*{status}" value="0">Không hoạt động
        </p>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <div th:each="entry : ${groupedByColor}">
        <!-- Hiển thị tên màu từ đối tượng Color -->
        <h3>Danh sách chi tiết sản phẩm màu : [[${entry.key.name}]]</h3>
        <!-- entry.key là đối tượng Color, có thuộc tính name -->

        <table class="table">
            <thead>
            <tr>
                <th>ID sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Màu sắc</th>
                <th>Kích cỡ</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <!-- Hiển thị danh sách sản phẩm theo màu -->
            <tr th:each="productDetail : ${entry.value}">
                <td>[[${productDetail.product.id}]]</td>
                <td>[[${productDetail.product.name}]]</td>
                <td>[[${productDetail.color.name}]]</td>
                <td>[[${productDetail.size.name}]]</td>
                <td>[[${productDetail.price}]]</td>
                <td>[[${productDetail.stock}]]</td>
                <td>[[${productDetail.status ==1 ?'Hoạt động' : 'Không hoạt động'}]]</td>
                <td><a>
                    <button class="btn btn-secondary">Chỉnh sửa</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>