<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}">
<head>
    <meta charset="UTF-8">
    <title>Quản lí sản phẩm</title>
    <style>
        th, td {
            text-align: center; /* Căn giữa theo chiều ngang */
            vertical-align: middle; /* Căn dọc giữa */
        }
    </style>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin/index}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
        </ol>
    </nav>
    <!-- Card tìm kiếm hóa đơn -->
    <div class="card mb-4">
        <div class="card-header">
            Tìm kiếm sản phẩm
        </div>
        <div class="card-body">
            <form class="row g-3" method="get">
                <div class="col-md-4">
                    <label for="invoiceCode" class="form-label">Tên sản phẩm</label>
                    <input type="text" name="name" th:value="${param.name}" class="form-control" id="invoiceCode" placeholder="Nhập tên sản phẩm">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Kiểu dáng</label>
                    <select class="form-select" name="styleId">
                        <option value="">Tất cả</option>
                        <option th:each="style : ${listStyle}"
                                th:value="${style.id}"
                                th:text="${style.name}"
                                th:selected="${param.styleId != null and param.styleId.toString() == style.id.toString()}">
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Chất liệu</label>
                    <select class="form-select" name="materialId">
                        <option value="">Tất cả</option>
                        <option th:each=" m : ${listMaterial}" th:value="${m.id}" th:text="${m.name}" th:selected="${param.materialId != null and param.materialId.toString() == m.id.toString()}"></option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Danh mục</label>
                    <select class="form-select" name="categoryId">
                        <option value="">Tất cả</option>
                        <option th:each=" cate : ${listCategory}" th:value="${cate.id}" th:text="${cate.name}" th:selected="${param.categoryId != null and param.categoryId.toString() == cate.id.toString()}"></option>

                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Vải lót</label>
                    <select class="form-select" name="liningId">
                        <option value="">Tất cả</option>
                        <option th:each=" lining : ${listLining}" th:value="${lining.id}" th:text="${lining.name}" th:selected="${param.liningId != null and param.liningId.toString() == lining.id.toString()}"></option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Đai mũ</label>
                    <select class="form-select" name="beltId">
                        <option value="">Tất cả</option>
                        <option th:each=" belt : ${listBelt}" th:value="${belt.id}" th:text="${belt.name}" th:selected="${param.beltId != null and param.beltId.toString() == belt.id.toString()}"></option>
                    </select>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary mt-3">Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Card hiển thị danh sách hóa đơn -->
    <div class="card">

        <div class="card-body">
            <!-- Tiêu đề với nút chỉnh sửa bên phải -->
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0"><strong>Danh sách sản phẩm</strong></h5>
                <a th:href="@{/admin/product/add-product}" class="btn btn-primary mt-2">Thêm sản phẩm</a>
            </div>
            <table class="table table-bordered table-hover mt-3">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Ảnh</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Danh mục</th>
                    <th>Số lượng</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p,stt : ${listProduct.content}">
                    <td>[[${stt.index + 1}]]</td>
                    <td th:if="${p.images.size() > 0}">
                        <img th:src="${p.images[0].imageUrl}" alt="Ảnh sản phẩm" style="width: 100px; height: auto;">
                    </td>
                    <td th:if="${p.images.size() <= 0}">
                        <img src="" alt="Ảnh mặc định" style="width: 100px; height: auto;">
                    </td>
                    <td>[[${p.sku}]]</td>
                    <td>[[${p.name}]]</td>
                    <td>[[${p.category.name}]]</td>
                    <td>[[${p.totalStock}]]</td>
                    <td>[[${p.createdDate.toString().substring(0,10)}]]</td>
                    <td>
                        <span th:if="${p.status == 0}" class="badge text-bg-danger">Ngừng bán</span>

                        <span th:if="${p.status == 1}" class="badge bg-success">Đang bán</span>
                    </td>
                    <td>
                        <a th:href="@{/admin/product/detail-product/{id}(id=${p.id})}">
                            <button class="btn btn-secondary"><i class="ph ph-info"></i></button>
                        </a>
                        <a th:href="@{/admin/product/update-product/{id}(id=${p.id})}">
                            <button class="btn btn-warning"><i class="ph ph-pencil-simple"></i></button>
                        </a>
                        <a th:href="@{/admin/product/add-product-detail/{id}(id=${p.id})}">
                            <button class="btn btn-success"><i class="ph ph-plus"></i></button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${totalPages <= 0}" class="alert alert-warning">
                Không tìm thấy sản phẩm.
            </div>
            <nav aria-label="Page navigation example" th:if="${totalPages > 0}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/product/index(page=${currentPage - 1}, size=${size})}">Previous</a>
                    </li>
                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/admin/product/index(page=${i}, size=${size})}">
                            [[${i + 1}]]
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/product/index(page=${currentPage + 1}, size=${size})}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</main>
</body>
</html>
