<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Đăng nhập</h2>
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${param.error}" class="alert alert-danger">
        Đăng nhập không thành công! Vui lòng kiểm tra lại Username hoặc Mật khẩu.
    </div>

    <form th:action="@{/customer/login}" method="post" class="mt-4">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username"  placeholder="Nhập Username" th:value="${username}">
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu:</label>
            <input type="password" class="form-control" id="password" name="password"  placeholder="Nhập Mật khẩu">
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" th:checked="${rememberMe}">
            <label class="form-check-label" for="rememberMe">Ghi nhớ</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
    </form>
    <div class="mt-3 text-center">
        <p>Chưa có tài khoản? <a th:href="@{/customer/register}">Đăng ký tại đây!</a></p>
        <p><a th:href="@{/forgot-password}">Quên mật khẩu?</a></p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>