<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>
<body>
<div th:if="${username1 != null}">
    <p>Hello, <span th:text="${username1}"></span>!</p>
    <form th:action="@{/customer/logout}" method="post" style="display: inline;">
        <button type="submit">Logout</button>
    </form>
</div>
<div th:if="${username1 == null}">
    <p>You are not logged in.</p>
    <a th:href="@{/customer/login}">Login</a>
</div>
</body>
</html>