<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/template}" >
<head>
  <meta charset="UTF-8">
  <title>Quản lí mã giảm giá</title>
  <style>
    th, td {
      text-align: center; /* Căn giữa theo chiều ngang */
      vertical-align: middle; /* Căn dọc giữa */
    }
  </style>
</head>
<body>
<main class="content px-3 py-4" layout:fragment="main">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/admin/index}">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Phiếu giảm giá</li>
    </ol>
  </nav>


    <!-- Card tìm kiếm hóa đơn -->
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="mb-0">Tìm kiếm mã giảm giá</h5>
      </div>
      <div class="card-body">
        <form class="row g-3">
          <div class="col-md-3">
            <label for="invoiceCode" class="form-label">Tìm kiếm</label>
            <input type="text" name="searchTerm" th:value="${param.searchTerm}" class="form-control" id="invoiceCode" placeholder="Nhập mã giảm giá, tên mã giảm...">
          </div>
          <div class="col-md-3">
            <label for="invoiceCode" class="form-label">Trạng thái</label>
            <select class="form-select" name="status">
              <option value="" th:selected="${param.status == null || param.status == ''}">Tất cả</option>
              <option value="0" th:selected="${param.status != null and param.status.toString() == '0'}">Đang diễn ra</option>
              <option value="1" th:selected="${param.status != null and param.status.toString() == '1'}">Sắp diễn ra</option>
              <option value="2" th:selected="${param.status != null and param.status.toString() == '2'}">Đã kết thúc</option>
            </select>
          </div>

          <div class="col-md-3">
            <label for="startDate" class="form-label">Từ ngày</label>
            <input type="datetime-local" name="startDate" th:value="${param.startDate}" class="form-control" id="startDate" >
          </div>
          <div class="col-md-3">
            <label for="endDate" class="form-label">Đến ngày</label>
            <input type="datetime-local" name="endDate" th:value="${param.endDate}" class="form-control" id="endDate" >
          </div>
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary mt-3 px-4 py-2">Tìm kiếm</button>
            <a th:href="@{/admin/voucher/index}"><button type="button" class="btn btn-secondary mt-3 px-4 py-2">Làm mới</button></a>
          </div>
        </form>
      </div>
    </div>
  <div class="card">

    <div class="card-body">
      <!-- Tiêu đề với nút chỉnh sửa bên phải -->
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-3"><strong>Danh sách mã giảm giá</strong></h5>
        <a th:href="@{/admin/voucher/add-voucher}" class="btn btn-primary mt-2 mb-3">Thêm mã giảm giá</a>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
          <th>STT</th>
          <th>ID</th>
          <th>Tên mã giảm giá</th>
          <th>Mã giảm giá</th>
          <th>Số Lượng</th>
          <th>Phần Trăm Giảm Giá</th>
          <th>Bắt Đầu</th>
          <th>Kết Thúc</th>
          <th>Trạng Thái</th>
          <th>Hành Động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucher, stat : ${listVoucher.content}">
          <td th:text="${stat.index + 1}"></td>
          <td th:text="${voucher.id}"></td>
          <td th:text="${voucher.name}"></td>
          <td th:text="${voucher.code}"></td>
          <td th:text="${voucher.quantity}"></td>
          <td th:text="${voucher.discountPercentage}"></td>
          <td th:text="${#temporals.format(voucher.startDate,'dd/MM/yyyy HH:mm:ss')}"></td>
          <td th:text="${#temporals.format(voucher.endDate,'dd/MM/yyyy HH:mm:ss')}"></td>
          <td>
            <span class="badge rounded-pill bg-warning text-dark" th:if="${voucher.startDate.isAfter(#temporals.createNow())}">Sắp băt đầu</span>
            <span class="badge rounded-pill bg-primary" th:if="${voucher.startDate.isBefore(#temporals.createNow()) && voucher.endDate.isAfter(#temporals.createNow())}">Đang diễn ra</span>
            <span class="badge rounded-pill bg-danger" th:if="${voucher.endDate.isBefore(#temporals.createNow())}">Đã kết thúc</span>
          </td>
          <td>
            <a th:href="@{/admin/voucher/detail-voucher/{id}(id=${voucher.id})}">
              <button class="btn btn-secondary"><i class="ph ph-info"></i></button>
            </a>
            <a th:href="@{/admin/voucher/update-voucher/{id}(id=${voucher.id})}">
              <button class="btn btn-warning"><i class="ph ph-pencil-simple"></i></button>
            </a>
            <a th:if="${voucher.startDate.isBefore(#temporals.createNow()) && voucher.endDate.isAfter(#temporals.createNow())}" th:href="@{/admin/voucher/stop/{id}(id=${voucher.id})}">
              <button class="btn btn-danger"><i class="ph ph-power"></i></button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div th:if="${totalPages <= 0}" class="alert alert-warning">
        Không có mã giảm giá nào.
      </div>
      <nav aria-label="Page navigation example" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center" >
          <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
            <a class="page-link" th:href="@{/admin/voucher/index(page=${currentPage - 1}, size=${size})}">Previous</a>
          </li>
          <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
              th:classappend="${i == currentPage} ? 'active'">
            <a class="page-link" th:href="@{/admin/voucher/index(page=${i}, size=${size})}">
              [[${i + 1}]]
            </a>
          </li>
          <li class="page-item"  th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
            <a class="page-link"
               th:href="@{/admin/voucher/index(page=${currentPage + 1}, size=${size})}">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>

</body>
</html>